<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% block title %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/main-page.css' %}"/>
    {% block style %}
    {% endblock %}
</head>
<body>
<header class="main-header">
    {% block header %}
    {% endblock %}
    <div class="main-header__box">
        <p class="main-header_box-for-notification">
            <img src="{% static 'img/Group.svg' %}" alt="уведомления" class="main-header__img-notifications"/>
            <span class="main-header__col-notification"></span>
        </p>
        <a href="{% url 'student:account' %}"><p class="main-header__name">{{ request.user.first_name }}</p></a>
        <a href="{% url 'student:account' %}">
            {% if request.user.img_user %}
                <img src="{{ request.user.img_user.url }}" alt="фото студента" class="main-header__img-foto"/>
            {% else %}
                <img src="{% static 'images/no-photo.png' %}" style="object-fit: cover;" alt="фото студента"
                     class="main-header__img-foto"/>
            {% endif %}
        </a>
        <img src="{% static 'img/Polygon.svg' %}" alt="развернуть" class="main-header__open"/>
        <div class="main-header__drop-down-notifications no-active">
            {% for notification in notifications|slice:":5" %}
            <div class="main-header__notification">
                <img src="{% static 'img/Ellipse.svg' %}" alt="point"/>
                <p class="main-header__personal-area-link main-header__personal-area-link_margin">{{ notification.message }}</p>
            </div>
            {% endfor %}
            <p class="main-header__all-notifications-container">
                <a href="" class="main-header__all-notifications">Показать все уведомления</a>
            </p>
        </div>
    </div>
    <div class="main-header__personal-area no-active">
        <div class="main-header__personal-area-options">
            <p class="main-header__personal-area-options-block">
                <a href="{% url 'student:change_data' %}" class="main-header__personal-area-link">Редактировать
                    страницу</a>
                <img src="{% static 'img/Ellipse.svg' %}" alt="point"/>
            </p>
            <img src="{% static 'img/Rectangle.svg' %}" alt="подчеркивание" class="main-header__border-bottom"/>
        </div>

        <div class="main-header__personal-area-options">
            <p class="main-header__personal-area-options-block">
                <a href="{% url 'student:chats' %}" class="main-header__personal-area-link">
                  <span class="main-header__personal-area-col">
                    {% if unreaded_dialogs_counter != 0 %}
                        {{ unreaded_dialogs_counter }}
                    {% endif %}
                  </span>
                    Сообщения</a>
                <img src="{% static 'img/Ellipse.svg' %}" alt="point"/>
            </p>
            <img src="{% static 'img/Rectangle.svg' %}" alt="подчеркивание" class="main-header__border-bottom"/>
        </div>

        <div class="main-header__personal-area-options main-header__personal-area-options_go-out">
            <p class="main-header__personal-area-options-block">
                <a href="{% url 'student:logout' %}" class="main-header__personal-area-link">Выйти</a>
                <img src="{% static 'img/Ellipse.svg' %}" alt="point"/>
            </p>
        </div>
    </div>
</header>
<nav class="main-menu">
    <div class="main-menu__logo">
        <div class="main-header__box-for-logo">
            <a href="{% url 'student:main_page_view' %}">
                <img src="{% static 'img/logo.svg' %}" alt="logo" class="main-menu__logo-img"/>
            </a>
            <img src="{% static 'img/hide.svg' %}" alt="зыкрыть меню" class="main-menu__hide-img no-active"/>
        </div>
        <div class="main-menu__show">
            <img src="{% static 'img/show.svg' %}" alt="открыть меню" class="main-menu__show-img"/>
        </div>
    </div>

    <div class="main-menu__box-for-item">
        <div class="main-menu__item">
            <!--      {% for x in request.user.groupmodel_set.all|slice:":1" %}-->
                <a href="{% url 'student:calendar' %}" class="main-menu__item-box">
                <!--      {% endfor %}-->
            <img src="{% static 'img/icon.svg' %}" alt="календарь" class="main-menu__item-img"/>
            <p class="main-menu__item-descriotion no-active">Учебный календарь</p>
            </a>
        </div>

        <div class="main-menu__item main-menu__item_subiteam">
            <a href="{% url 'student:process' %}" class="main-menu__item-box">
                <img src="{% static 'img/icon19.svg' %}" alt="календарь" class="main-menu__item-img"/>
                <p class="main-menu__item-descriotion no-active">Учебный процесс</p>
            </a>
            <div class="main-menu__box-for-subitem no-active">
                <div class="main-menu__subitem">
                    <a href="{% url 'student:homework' %}" class="main-menu__subitem-link">Домашнее задание</a>
                </div>
                <div class="main-menu__subitem">
                    <a href="{% url 'student:group_view' %}" class="main-menu__subitem-link">Группа</a>
                </div>
                <div class="main-menu__subitem">
                    <a href="{% url 'student:materials_view' %}" class="main-menu__subitem-link">Учебные материалы</a>
                </div>
                <div class="main-menu__subitem">
                    <a href="{% url 'student:teacher' %}" class="main-menu__subitem-link">Преподаватели</a>
                </div>
            </div>
        </div>

        <div class="main-menu__item main-menu__item_position">
            <a href="{% url 'student:chats' %}" class="main-menu__item-box">
                <img src="{% static 'img/icon18.svg' %}" alt="чат" class="main-menu__item-img"/>
                <p class="main-menu__item-descriotion no-active">Чат</p>
                <span class="main-menu__item-col">
                    {% if unreaded_dialogs_counter != 0 %}
                        {{ unreaded_dialogs_counter }}
                    {% endif %}
                </span>
            </a>
        </div>

        <div class="main-menu__item">
            <a href="{% url 'student:teacher' %}" class="main-menu__item-box">
                <img src="{% static 'img/icon2.svg' %}" alt="календарь" class="main-menu__item-img"/>
                <p class="main-menu__item-descriotion no-active">Преподаватели</p>
            </a>
        </div>

        <div class="main-menu__item">
            <a href="{% url 'student:contact_admin' %}" class="main-menu__item-box">
                <img src="{% static 'img/icon16.svg' %}" alt="календарь" class="main-menu__item-img"/>
                <p class="main-menu__item-descriotion no-active">Связаться с администратором</p>
            </a>
        </div>

        <div class="main-menu__item">
            <a href="{% url 'student:services' %}" class="main-menu__item-box">
                <img src="{% static 'img/icon15.svg' %}" alt="календарь" class="main-menu__item-img"/>
                <p class="main-menu__item-descriotion no-active">Услуги</p>
            </a>
        </div>

        <div class="main-menu__item">
            <a href="{% url 'student:itnews' %}" class="main-menu__item-box">
                <img src="{% static 'img/icon4.svg' %}" alt="календарь" class="main-menu__item-img"/>
                <p class="main-menu__item-descriotion no-active">Новости школы</p>
            </a>
        </div>

        {#        <div class="main-menu__item">#}
        {#            <a href="#" class="main-menu__item-box">#}
        {#                <img src="{% static 'img/icon13.svg' %}" alt="календарь" class="main-menu__item-img"/>#}
        {#                <p class="main-menu__item-descriotion no-active">Планировщик</p>#}
        {#            </a>#}
        {#        </div>#}

        <div class="main-menu__item main-menu__item-margin">
            <a href="{% url 'student:change_data' %}" class="main-menu__item-box">
                <img src="{% static 'img/icon12.svg' %}" alt="календарь" class="main-menu__item-img"/>
                <p class="main-menu__item-descriotion no-active">Изменить личные данные</p>
            </a>
        </div>

        <div class="main-menu__item">
            <a href="{% url 'student:logout' %}" class="main-menu__item-box">
                <img src="{% static 'img/icon11.svg' %}" alt="календарь" class="main-menu__item-img"/>
                <p class="main-menu__item-descriotion no-active">Выйти</p>
            </a>
        </div>
    </div>
</nav>
{% block content %}
{% endblock %}
{% block script %}
    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}

</body>
</html>