{% extends 'student/base_student.html' %}
{% load static %}

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--  <head>-->
<!--    <meta charset="UTF-8" />-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0" />-->
{% block title %}
<title>Document</title>
{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/main-header.css' %}"/>
<link rel="stylesheet" href="{% static 'css/change-personal-data.css' %}"/>
{% endblock %}
<!--  </head>-->
<!--  <body>-->
<!--    <header class="main-header">-->
{% block header %}
<div class="main-header__page-information-change-specialty">
    <p class="main-header__page-information">Учебный календарь</p>
</div>
{% endblock %}
{% block content %}
<main class="change-personal-data">
    <div class="change-personal-data__container">
        <div class="change-personal-data__pod-container">
            <p class="change-personal-data__name">Изменить личные данные</p>
            <div class="change-personal-data__box-for-change">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="change-personal-data__user-name-and-foto">
                        <div class="change-personal-data__user-name">
                            <div class="change-personal-data__box-for-user-data">
                                <p class="change-personal-data__user-data-name">Фамилия</p>
                                <p class="change-personal-data__user-data">{{ request.user.last_name }}</p>
                            </div>
                            <div class="change-personal-data__box-for-user-data">
                                <p class="change-personal-data__user-data-name">Имя</p>
                                <p class="change-personal-data__user-data">{{ request.user.first_name }}</p>
                            </div>
                            <div class="change-personal-data__box-for-user-data">
                                <p class="change-personal-data__user-data-name">Отчество</p>
                                <p class="change-personal-data__user-data">{{ request.user.surname }}</p>
                            </div>
                        </div>
                        <div class="change-personal-data__box-for-user-foto">
                            <img src="{{ request.user.img_user.url }}" alt="фото студента"
                                 class="change-personal-data__user-foto"/>
                            <p class="change-personal-data__box-for-change-foto-link">
                                <input type="file" name="img_user">
                            </p>
                        </div>
                    </div>
                    <div class="change-personal-data__user-contacts">
                        <div class="change-personal-data_box-for-change">
                            <div class="change-personal-data__box-for-user-data change-personal-data__box-for-user-data_width">
                                <p class="change-personal-data__user-data-name">Телефон</p>
                                <input type="phone" class="change-personal-data__change-data" value="{{request.user.phone}}" name="phone">
                            </div>
                            <div class="change-personal-data__box-for-user-data change-personal-data__box-for-user-data_width">
                                <p class="change-personal-data__user-data-name">Почта</p>
                                <input type="email" class="change-personal-data__change-data" value="{{request.user.email}}" name="email">
                            </div>
                        </div>
                        <div class="change-personal-data__box-for-save-changes">
                            <button type="submit" class="change-personal-data__but-save">Сохранить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}
{% block script %}
<script src="{% static 'js/main-header.js' %}"></script>
{% endblock %}