{% extends 'student/base_student.html' %}
{% load static %}
{% block title %}
    <title>Домашнее задание</title>
{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/main-header.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/homework.css' %}"/>
{% endblock %}
{% block header %}
    <div class="main-header__page-information-change-specialty">
        <p class="main-header__page-information">Домашнее задание</p>
    </div>
{% endblock %}
{% block content %}
    <main>
        {% if class.position <= next_class.position %}
            <div class="content__wrapper">
                <div class="student-info__container">
                    <div class="block-info">
                        <div class="block-info__wrapper">
                            <div class="block-info__subtitle">Занятие {{ class.position }}</div>
                            <div class="block-info__title">{{ class.theme }}</div>
                            <div class="block-info__date">{{ class.date }}</div>
                            <div class="block-info__direction">{{ class.groups.course.title }}</div>
                            {% for homework in class.homeworkteacher.all %}
                                <div class="block-info__home-work-title">Домашнее задание: {{ homework.title }}</div>
                                <div class="block-info__home-work-text">
                                    {{ homework.description }}
                                    {% if homework.file %}
                                        <a download class="block-student-form-input-file"
                                           href="{{ homework.file.url }}">Файл</a>
                                    {% endif %}
                                    {% if class.groups.course.is_online %}
                                        {% if class.room_link %}
                                            <a class="block-student-online-room" href="{{ class.room_link }}">Переход в
                                                комнату онлайн-занятия</a>
                                        {% else %}
                                            <p class="block-student-online-room">Ссылка на комнату пока не готова.</p>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="block-student">
                            {% if class.groups.teacher.img_user %}
                                <img src="{{ class.groups.teacher.img_user.url }}" alt="фото студента"
                                     class="block-student__foto"/>
                            {% else %}
                                <img src="{% static 'images/no-photo.png' %}" style="object-fit: cover;"
                                     alt="фото студента"
                                     class="block-student__foto"/>
                            {% endif %}
                            <p>{{ class.groups.teacher.first_name }} {{ class.groups.teacher.surname }} {{ class.groups.teacher.last_name }}</p>
                        </div>
                    </div>
                    {% if attempts_left > 0 %}
                        <form enctype="multipart/form-data" method="post" class="block-student-form" action="">
                            {% csrf_token %}
                            <div class="form-title">
                                Домашнее заданиe
                            </div>
                            <div class="block-student-form-close">
                                <textarea name="description" placeholder="Начните вводить текст..."></textarea>
                                <div class="block-student-form-inline">
                                    <div class="block-student-form-input-file">
                                        Прикрепить файл
                                        <input type="file" name="file" multiple
                                               class="block-student-form-button-input-file"/>
                                    </div>
                                    <input class="block-student-form-input-file" type="submit" value="Отправить"/>
                                </div>
                            </div>
                        </form>
                    {% endif %}
                </div>
                <div class="home-work__wrapper">
                    {% if attempts_left != None %}
                        <div class="home-work__attempts">
                            <div class="home-work__attempts-inline">
                                <p>Мои попытки - <span>{{ tries }}</span></p>
                                <img id="showHide" src="{% static 'img/down_icon-icons.com_61209.svg' %}"
                                     alt="скрыть/показать"
                                     class="rotate"/>
                            </div>
                        </div>
                    {% endif %}
                    <div class="home-work__container-close">
                        <div class="home-work__container">
                            {% for homework in homework %}
                                <div class="home-work__attempts-box">
                                    <div class="form-title">Домашнее задание</div>
                                    <p class="home-work__attempts-box-comment">
                                        {{ homework.description }}
                                    </p>
                                    {% if homework.file %}
                                        <a download class="home-work__attempts-box-a no-active"
                                           href="{{ homework.file.url }}">Файл</a>
                                    {% endif %}
                                    <p class="home-work__attempts-box-tutor-comment">Комментарий преподавателя</p>
                                    <p class="home-work__attempts-box-comment">
                                        {{ homework.comment_teacher }}
                                    </p>
                                    {% if homework.file %}
                                        <a download class="home-work__attempts-box-a"
                                           href="{{ homework.file.url }}">Файл</a>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="block-info__status-box">
                        {% if attempts_left != None %}
                            <div class="home-work__box-for-content">
                                <div class="block-info__status-box-status">Статус:</div>
                                <div class="block-info__status-box-status-item">{{ last_homework.status }}</div>
                            </div>
                            <div class="home-work__box-for-content">
                                <div class="block-info__status-box-rating">Оценка:</div>
                                <div class="block-info__status-box-rating-item">{{ last_homework.rating }}</div>
                            </div>
                            <div class="home-work__box-for-content">
                                <div class="block-info__attempts">
                                    <div class="block-info__attempt-title">Осталoсь попыток</div>
                                    <div class="block-info__attempt-count">{{ attempts_left }}</div>
                                </div>
                            </div>
                        {% endif %}
                        <div class="home-work__box-for-content">
                            <div class="block-info__attempts">
                                <a class="block-info__attempt-title"
                                   href="{% url 'student:material_detail' class_id=class.id %}">Материалы по теме</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <p>Данное занятие пока не доступно</p>
        {% endif %}
    </main>
{% endblock %}
{% block script %}
    <script src="{% static 'js/homework.js' %}"></script>
    <script src="{% static 'js/main-header.js' %}"></script>
{% endblock %}