{% extends 'student/base_student.html' %}
{% load static %}
{% block title %}
    <title>Новости школы</title>
{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/itnews.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/materials_on_topics.css' %}"/>
{% endblock %}
{% block header %}
    <div class="main-header__page-information-change-specialty">
        <p class="main-header__page-information">Новости школы</p>
        <div class="main-header__change-speciality">
            <div class="main-header__box-for-change-speciality">
                {% if current_rubrick %}
                    <p class="main-header__button-change-speciality">{{ current_rubrick.title }}</p>
                {% else %}
                    <p class="main-header__button-change-speciality">Все новости</p>
                {% endif %}
                <div class="main-header__list-speciality no-active">
                    <form action="" method="get" class="main-header__form-change-course">
                        <input type="text" name="rubrick" hidden class="main-header__change-course"/>
                        <p class="main-header__wrapp-for-speciality-link mb-0" data-value="">
                            Все новости
                        </p>
                        {% for rubrick in rubricks %}
                            <p class="main-header__wrapp-for-speciality-link mb-0" data-value="{{ rubrick.id }}">
                                {{ rubrick.title }}
                            </p>
                        {% endfor %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <main class="main">
        <div class="main__it-news">
            {% for news in news %}
                <div class="main__it-news-box">
                    {% if news.img %}
                    <img src="{{ news.img.url }}" style="object-fit: cover;" alt="новость" class="main__it-news-img">
                    {% endif %}
                    <p class="main__it-news-text">
                        <a href="{% url 'student:news_detail' news_id=news.id %}" class="main__it-news-link">
                            {{ news.title }}
                        </a>
                    </p>
                </div>
            {% endfor %}
    </main>
{% endblock %}
{% block script %}
    <script src="{% static 'js/itnews.js' %}"></script>
    <script src="{% static 'js/main-header.js' %}"></script>
{% endblock %}