{% extends 'student/base_student.html' %}
{% load static %}
{% block title %}
    <title>Материалы по темам</title>
{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/main-header.css' %}" />
    <link rel="stylesheet" href="{% static 'css/materials_on_topics.css' %}" />
{% endblock %}
{% block header %}
      <div class="main-header__page-information-change-specialty">
    <p class="main-header__page-information">Материалы по темам</p>
    <div class="main-header__change-speciality">
        <div class="main-header__box-for-change-speciality">
            <p class="main-header__button-change-speciality">{{ group.title }}</p>
            <div class="main-header__list-speciality no-active">
                <form action="" method="get" class="main-header__form-change-course">
                    <input type="text" name="group" hidden class="main-header__change-course"/>
                    {% for group in groups %}
                    <p class="main-header__wrapp-for-speciality-link mb-0" data-value="{{ group.id }}">
                        {{ group.title }}
                    </p>
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
    <main>
      <div class="main__material-topic">
        {% for class in classes %}
        <div class="main__material-topic-text">
          <p class="main__material-topik-text main__material-topik-text_width">
            Занятие {{ class.position }}
          </p>
          <a href="{% url 'student:material_detail' class_id=class.id %}" class="main__material-topic-link">
            {{ class.theme }}
          </a>
          <p class="main__material-topik-text main__material-topic-text_margin_weight">
            {{ class.date }}
          </p>
        </div>
        {% endfor %}
      </div>
    </main>
{% endblock %}
{% block script %}
    <script src="{% static 'js/main-header.js' %}"></script>
{% endblock %}