{% extends 'student/base_student.html' %}
{% load static %}
{% block title %}
<title>Занятие {{ class.position }}</title>
{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/main-header.css' %}"/>
<link rel="stylesheet" href="{% static 'css/selected-lesson.css' %}"/>
{% endblock %}
{% block header %}
<div class="main-header__page-information-change-specialty">
    <p class="main-header__page-information">Выбранное занятие</p>
</div>
{% endblock %}
{% block content %}
<main class="selected-lesson">
    <div class="selected-lesson__box-for-all-lessons">
        <!-- Блок с номером занятия, темой и датой -->

        <div class="selected-lesson__lesson-container">
            <div class="lesson-container__info-container">
                <p class="lesson-container__lesson-number">Занятие <strong>{{ class.position }}</strong></p>
                <p class="lesson-container__topic-title">{{ class.theme }}</p>
                <p class="lesson-container__lesson-date">{{ class.date }}</p>
            </div>
        </div>

        <!-- Блок видео -->
        <div class="selected-lesson__video-line">
            <p class="selected-lesson__line-title">Видео</p>
        </div>
        <div class="selected-lesson__container-for-videos">
            {% for video in v_materials %}
            <div class="selected-lesson__container-for-single-video">
                <div class="selected-lesson__video-container">

                    <iframe width="240" height="120" src="{{ video.url }}" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>

                    <!--          <img class="video-container__video-preview" src="../img/video_box.svg" alt="video-preview" />-->
                    <!--          <img class="video-container__video-preview" src="../img/video_box.svg" alt="video-preview" />-->
                    <!--          <img class="video-container__video-preview" src="../img/video_box.svg" alt="video-preview" />-->
                </div>

                <div class="selected-lesson__video-title-container">

                    <div class="video-title-container__video-title-box">
                        <p class="video-title-container__video-title">{{ video.title }}</p>
                    </div>

                    <!--          <div class="video-title-container__video-title-box">-->
                    <!--            <p class="video-title-container__video-title">Название видео</p>-->
                    <!--          </div>-->
                    <!--          <div class="video-title-container__video-title-box">-->
                    <!--            <p class="video-title-container__video-title">Название видео</p>-->
                    <!--          </div>-->
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- Блок документы -->

        <div class="selected-lesson__document-line">
            <p class="selected-lesson__line-title">Документы</p>
        </div>
        <div class="selected-lesson__container-for-documents">
            {% for material in materials %}
            <div class="selected-lesson__container-for-single-document">
                <div class="selected-lesson__document-container">
                    <img class="document-container__document-preview" src="{{ material.img.url }}"
                         alt="document-preview"/>
                    <!--          <img class="document-container__document-preview" src="../img/document_box.svg" alt="document-preview" />-->
                    <!--          <img class="document-container__document-preview" src="../img/document_box.svg" alt="document-preview" />-->
                    <!--          <img class="document-container__document-preview" src="../img/document_box.svg" alt="document-preview" />-->
                </div>
                <div class="selected-lesson__document-title-container">
                    <div class="document-title-container__document-title-box">
                        <p class="document-title-container__video-title">
                            <a href="{{ material.file.url }}" download>{{ material.title }}</a>
                        </p>
                    </div>
                </div>
                <!--          <div class="document-title-container__document-title-box">-->
                <!--            <p class="document-title-container__video-title">Название документа</p>-->
                <!--          </div>-->
                <!--          <div class="document-title-container__document-title-box">-->
                <!--            <p class="document-title-container__video-title">Название документа</p>-->
                <!--          </div>-->
                <!--          <div class="document-title-container__document-title-box">-->
                <!--            <p class="document-title-container__video-title">Название документа</p>-->
                <!--          </div>-->
            </div>
            {% endfor %}
        </div>
</main>
{% endblock %}
{% block script %}
<script src="{% static 'js/main-header.js' %}"></script>
{% endblock %}