{% extends 'student/base_student.html' %}
{% load static %}
{% block title %}
    <title>Дополнительные услуги</title>
{% endblock %}
{% block style %}
<!--    <link rel="stylesheet" href="{% static 'css/services_page.css' %}" />-->
    <link rel="stylesheet" href="{% static 'css/services.css' %}">
{% endblock %}
{% block content %}
    <main>
      <div class="main__services">
        <div class="main__services-box">
            <a href="#" class="main__services-img"><img src="{% static 'img/additional session.svg.svg' %}" alt="дополнительное занятие" class="main__services-img"></a>
            <p class="main__services-text">
                <a href="#" class="main__services-link">
                    Дополнительное занятие для нескольких человек
                </a>
            </p>
        </div>
        <div class="main__services-box">
            <a href="#" class="main__services-img"><img src="{% static 'img/individual.svg' %}" alt="индивидуальное занятие" class="main__services-img"></a>
            <p class="main__services-text">
                <a href="#" class="main__services-link">
                    Индивидуальное занятие
                </a>
            </p>
        </div>
    </main>
{% endblock %}
{% block script %}
    <script src="{% static 'js/services_page.js' %}"></script>
{% endblock %}