{% extends 'student/base_student.html' %}
{% load static %}
{% block title %}
    <title>Document</title>
{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/main-header.css' %}" />
    <link rel="stylesheet" href="{% static 'css/studying_materials.css' %}" />
{% endblock %}
{% block header %}
      <div class="main-header__page-information-change-specialty">
        <p class="main-header__page-information">Учебные материалы</p>
<!--        <div class="main-header__change-speciality">-->
<!--          <div class="main-header__box-for-change-speciality">-->
<!--            <p class="main-header__button-change-speciality">Выбрать курс...</p>-->
<!--            <div class="main-header__list-speciality no-active">-->
<!--              <p class="main-header__wrapp-for-speciality-link">-->
<!--                <a href="#" class="main-header__speciality-link">Frontend-разработчик</a>-->
<!--              </p>-->
<!--              <p class="main-header__wrapp-for-speciality-link">-->
<!--                <a href="#" class="main-header__speciality-link">Backend-разработчик</a>-->
<!--              </p>-->
<!--              <p class="main-header__wrapp-for-speciality-link">-->
<!--                <a href="#" class="main-header__speciality-link">Тестировщик</a>-->
<!--              </p>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="main-header__box-for-info">-->
<!--            <p class="main-header__speciality-info-name">Тестировщик</p>-->
<!--            <p class="main-header__speciality-info-group">(группа <span>2</span>)</p>-->
<!--          </div>-->
<!--        </div>-->
      </div>
{% endblock %}
<!--      <div class="main-header__box">-->
<!--        <p class="main-header_box-for-notification">-->
<!--          <img src="../img/Group.svg" alt="уведомления" class="main-header__img-notifications" />-->
<!--          <span class="main-header__col-notification">2</span>-->
<!--        </p>-->
<!--        <p class="main-header__name">Алина</p>-->
<!--        <img src="../img/Eul_Ehp2xyU.png" alt="фото студента" class="main-header__img-foto" />-->
<!--        <img src="../img/Polygon.svg" alt="развернуть" class="main-header__open" />-->
<!--      </div>-->
<!--      <div class="main-header__personal-area no-active">-->
<!--        <div class="main-header__personal-area-options">-->
<!--          <p class="main-header__personal-area-options-block">-->
<!--            <a href="#" class="main-header__personal-area-link">Редактировать страницу</a>-->
<!--            <img src="../img/Ellipse.svg" alt="point" />-->
<!--          </p>-->
<!--          <img src="../img/Rectangle.svg" alt="подчеркивание" class="main-header__border-bottom" />-->
<!--        </div>-->

<!--        <div class="main-header__personal-area-options">-->
<!--          <p class="main-header__personal-area-options-block">-->
<!--            <a href="#" class="main-header__personal-area-link"><span class="main-header__personal-area-col">2</span> Сообщения</a>-->
<!--            <img src="../img/Ellipse.svg" alt="point" />-->
<!--          </p>-->
<!--          <img src="../img/Rectangle.svg" alt="подчеркивание" class="main-header__border-bottom" />-->
<!--        </div>-->

<!--        <div class="main-header__personal-area-options main-header__personal-area-options_go-out">-->
<!--          <p class="main-header__personal-area-options-block">-->
<!--            <a href="#" class="main-header__personal-area-link">Выйти</a>-->
<!--            <img src="../img/Ellipse.svg" alt="point" />-->
<!--          </p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </header>-->
<!--    <nav class="main-menu">-->
<!--      <div class="main-menu__logo">-->
<!--        <a href="#">-->
<!--          <div class="main-header__box-for-logo">-->
<!--            <img src="../img/logo.svg" alt="logo" class="main-menu__logo-img" />-->
<!--            <img src="../img/hide.svg" alt="зыкрыть меню" class="main-menu__hide-img no-active" />-->
<!--          </div>-->
<!--        </a>-->
<!--        <div class="main-menu__show">-->
<!--          <img src="../img/show.svg" alt="открыть меню" class="main-menu__show-img" />-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="main-menu__box-for-item">-->
<!--        <div class="main-menu__item">-->
<!--          <a href="#" class="main-menu__item-box">-->
<!--            <img src="../img/icon.svg" alt="календарь" class="main-menu__item-img" />-->
<!--            <p class="main-menu__item-descriotion no-active">Учебный календарь</p>-->
<!--          </a>-->
<!--        </div>-->

<!--        <div class="main-menu__item main-menu__item_subiteam">-->
<!--          <a href="#" class="main-menu__item-box">-->
<!--            <img src="../img/icon19.svg" alt="календарь" class="main-menu__item-img" />-->
<!--            <p class="main-menu__item-descriotion no-active">Учебный процесс</p>-->
<!--          </a>-->
<!--          <div class="main-menu__box-for-subitem no-active">-->
<!--            <div class="main-menu__subitem">-->
<!--              <a href="#" class="main-menu__subitem-link">Домашнее задание</a>-->
<!--            </div>-->
<!--            <div class="main-menu__subitem">-->
<!--              <a href="#" class="main-menu__subitem-link">Группа</a>-->
<!--            </div>-->
<!--            <div class="main-menu__subitem">-->
<!--              <a href="#" class="main-menu__subitem-link">Учебные материалы</a>-->
<!--            </div>-->
<!--            <div class="main-menu__subitem">-->
<!--              <a href="#" class="main-menu__subitem-link">Преподаватели</a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="main-menu__item main-menu__item_position">-->
<!--          <a href="#" class="main-menu__item-box">-->
<!--            <img src="../img/icon18.svg" alt="чат" class="main-menu__item-img" />-->
<!--            <p class="main-menu__item-descriotion no-active">Чат</p>-->
<!--            <span class="main-menu__item-col">2</span>-->
<!--          </a>-->
<!--        </div>-->

<!--        <div class="main-menu__item">-->
<!--          <a href="#" class="main-menu__item-box">-->
<!--            <img src="../img/icon2.svg" alt="календарь" class="main-menu__item-img" />-->
<!--            <p class="main-menu__item-descriotion no-active">Преподаватель</p>-->
<!--          </a>-->
<!--        </div>-->

<!--        <div class="main-menu__item">-->
<!--          <a href="#" class="main-menu__item-box">-->
<!--            <img src="../img/icon16.svg" alt="календарь" class="main-menu__item-img" />-->
<!--            <p class="main-menu__item-descriotion no-active">Связаться с администратором</p>-->
<!--          </a>-->
<!--        </div>-->

<!--        <div class="main-menu__item">-->
<!--          <a href="#" class="main-menu__item-box">-->
<!--            <img src="../img/icon15.svg" alt="календарь" class="main-menu__item-img" />-->
<!--            <p class="main-menu__item-descriotion no-active">Услуги</p>-->
<!--          </a>-->
<!--        </div>-->

<!--        <div class="main-menu__item">-->
<!--          <a href="#" class="main-menu__item-box">-->
<!--            <img src="../img/icon4.svg" alt="календарь" class="main-menu__item-img" />-->
<!--            <p class="main-menu__item-descriotion no-active">Новости школы</p>-->
<!--          </a>-->
<!--        </div>-->

<!--        <div class="main-menu__item">-->
<!--          <a href="#" class="main-menu__item-box">-->
<!--            <img src="../img/icon13.svg" alt="календарь" class="main-menu__item-img" />-->
<!--            <p class="main-menu__item-descriotion no-active">Планировщик</p>-->
<!--          </a>-->
<!--        </div>-->

<!--        <div class="main-menu__item main-menu__item-margin">-->
<!--          <a href="#" class="main-menu__item-box">-->
<!--            <img src="../img/icon12.svg" alt="календарь" class="main-menu__item-img" />-->
<!--            <p class="main-menu__item-descriotion no-active">Изменить личные данные</p>-->
<!--          </a>-->
<!--        </div>-->

<!--        <div class="main-menu__item">-->
<!--          <a href="#" class="main-menu__item-box">-->
<!--            <img src="../img/icon11.svg" alt="календарь" class="main-menu__item-img" />-->
<!--            <p class="main-menu__item-descriotion no-active">Выйти</p>-->
<!--          </a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </nav>-->
{% block content %}
    <main>
      <div class="main__educational-materials">
        <a href="{% url 'student:material_themes' %}" class="main__educational-materials-link">
        <div class="main__educational-materials-box">
          <img src="{% static 'img/note 1.png' %}" alt="материалы по темам" class="main__educational-materials-img" />
          <p class="main__educational-materials-text">
              Материалы по темам
          </p>
        </div>
        </a>
        <a href="{% url 'student:study_literature' %}" class="main__educational-materials-link">
        <div class="main__educational-materials-box">
          <img src="{% static 'img/laptop (1) 1.png' %}" alt="учебная литература" class="main__educational-materials-img" />
          <p class="main__educational-materials-text">
              Учебная литература
          </p>
        </div>
        </a>
        <a href="{% url 'student:video_materials' %}" class="main__educational-materials-link">
        <div class="main__educational-materials-box">
          <img src="{% static 'img/desktop 1.png' %}" alt="видеоматериалы" class="main__educational-materials-img" />
          <p class="main__educational-materials-text">
              Видеоматериалы
          </p>
        </div>
        </a>
        <a href="{% url 'student:video_themes' %}" class="main__educational-materials-link">
        <div class="main__educational-materials-box">
          <img src="{% static 'img/user (1) 1.png' %}" alt="домашнее задание" class="main__educational-materials-img" />
          <p class="main__educational-materials-text">
              Видео занятий
          </p>
        </div>
        </a>
      </div>
    </main>
{% endblock %}
{% block script %}
    <script src="{% static 'js/main-header.js' %}"></script>
{% endblock %}