{% extends 'student/base_student.html' %}
{% load static %}
{% block title %}
<title>Document</title>
{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/personal_student_card.css' %}"/>
<link rel="stylesheet" href="{% static 'css/students_personal_card.css' %}"/>
{% endblock %}
{% block header %}
<div class="main-header__page-information-change-specialty">
    <p class="main-header__page-information">Личный кабинет</p>
</div>
  {% endblock %}
  {% block content %}
    <main>
        <div class="main__personal-student-card">
            <div class="main__personal-student-card-info">
                <div class="main__personal-student-card-box">
                    <div class="main__personal-student-card-foto">
                        {% if student.img_user %}
                            <img src="{{ student.img_user.url }}" alt="личное фото" class="main__personal-student-card-img"/>
                        {% else %}
                            <img src="{% static 'images/no-photo.png' %}" style="object-fit: cover;" alt="личное фото" class="main__personal-student-card-img"/>
                        {% endif %}
                    </div>
                    <div class="main__personal-student-card-data">
                        <p class="main__personal-student-card-data-text">
                            {{ student.first_name }}
                        </p>
                        <p class="main__personal-student-card-data-text">
                            {{ student.surname }}
                        </p>
                        <p class="main__personal-student-card-data-text main__personal-student-card-data-text_weigth">
                            {{ student.last_name }}
                        </p>
                        <p class="main__personal-student-card-data-text_size">
                <span class="main__personal-student-card_weight">
                  E-mail
                </span>
                            {{ student.email }}
                        </p>
                        <p class="main__personal-student-card-data-text_size">
                <span class="main__personal-student-card_weight">
                  Тел.:
                </span>
                            {{ student.phone }}
                        </p>
                        <a href="#" class="main__personal-student-card-data-link">
                            Изменить личные данные
                        </a>
                    </div>
                </div>
                <div class="main__personal-student-card-perfomance">
                    <div class="main__personal-student-card-perfomance-visit">
                        <p class="main__personal-student-card-perfomance-text">
                            Посещение
                        </p>
                        <div class="circle">
                            30%
                        </div>
                        <p class="main__personal-student-card-perfomance-text"></p>
                    </div>
                    <div class="main__personal-student-card-perfomance-academic">
                        <p class="main__personal-student-card-perfomance-text">
                            Успеваемость
                        </p>
                        <div class="circle">
                            50%
                        </div>
                        <p class="main__personal-student-card-perfomance-text"></p>
                    </div>
                </div>
            </div>
            <div class="main__personal-student-card-payment">
                <p class="main__personal-student-card-payment-text">
                    Оплата обучения
                </p>
                <form action="#">
                    <div class="main__personal-box-for-input-file">
                        Загрузить фото чека
                        <input type="file" multiple class="main__personal-button-input-file"/>
                    </div>
                </form>
                <p class="main__personal-student-card-payment-text-status">
                    Статус оплаты
                </p>
                <div class="main__personal-student-card-payment-status">
                    <p class="main__personal-student-card-payment-text main__personal-student-card-payment-text_border">
                        Выплачено
                    </p>
                    <a href="{% url 'student:payment' %}" class="main__personal-student-card-payment-link">
                        По графику
                    </a>
                </div>
            </div>
        </div>
    </main>
    {% endblock %}
    {% block script %}
    <script src="{% static 'js/personal_student_card.js' %}"></script>
    <script src="{% static 'js/students_personal_card.js' %}"></script>
    {% endblock %}