{% extends 'student/base_student.html' %}
{% load static %}
{% block title %}
    <title>Видеозанятие</title>
{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/main-header.css' %}">
    <link rel="stylesheet" href="{% static 'css/video_lesson.css' %}">
{% endblock %}
{% block header %}
      <div class="main-header__page-information-change-specialty">
        <p class="main-header__page-information">Видеозанятие</p>
      </div>
{% endblock %}
{% block content %}
    <main>
      <div class="main-header__videolessonbox">
        <div class="main-header__videolesson"
          <a  href="#" class="main-header__videolesson-name">
            <p class="main-header__videolesson-name_p1">Занятие {{ class.position }}</p>
            <p class="main-header__videolesson-name_p2">{{ class.theme }}</p>
            <p class="main-header__videolesson-name_p3">{{ class.date }}</p>
          </a>
          {% if class.file %}}
          <div class="main-header__videolesson-video">
            <video src="#" controls width="700" height="400">
              <source src="video.mp4" type="video/mp4"><!-- MP4 для Safari, IE9, iPhone, iPad, Android, и Windows Phone 7 -->
              <source src="video.webm" type="video/webm"><!-- WebM/VP8 для Firefox4, Opera, и Chrome -->
              <source src="video.ogv" type="video/ogg"><!-- Ogg/Vorbis для старых версий браузеров Firefox и Opera -->
              <object data="video.swf" type="application/x-shockwave-flash"><!-- видеоконтент для устаревших браузеров, в которых нет поддержки элемента video -->
                <param name="movie" value="video.swf">
              </object>
            </video>
          </div>
          {% endif %}
          {% if not class.file %}
          <h2>Видео отсутствует</h2>
          {% endif %}
        </div>
      </div>
    </main>
{% endblock %}
{% block script %}
    <script src="{% static 'js/main-header.js' %}"></script>
{% endblock %}