<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main-page-manager.css' %}"/>
    {% block style %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}"/>
    {% endblock %}
</head>
<body>
<header class="main-header">
    <div class="main-header__page-information-change-specialty">
        {% block title %}
        {% endblock %}
    </div>
    <div class="main-header__box">
        <p class="main-header_box-for-notification mb-0">
            <img src="{% static 'images/Group.svg' %}" alt="уведомления" class="main-header__img-notifications"/>
            <span class="main-header__col-notification">
                {% if unreaded_dialogs_counter != 0 %}
                {{ unreaded_dialogs_counter }}
                {% endif %}
            </span>
        </p>
        <a href="{% url 'manager_school:get_manager_profile' %}" class="main__manager-nav-box">
            <p class="main-header__name mb-0">{{request.user.first_name}}</p>
            {% if request.user.img_user %}
            <img src="{{ request.user.img_user.url }}" alt="фото менеждера" class="main-header__img-foto"/>
            {% else %}
            <img src="{% static 'images/no-photo.png' %}" alt="фото менеждера" class="main-header__img-foto"/>
            {% endif %}
        </a>
        <img src="{% static 'images/Polygon.svg' %}" alt="развернуть" class="main-header__open"/>
    </div>
    <div class="main-header__personal-area no-active">
        <div class="main-header__personal-area-options">
            <p class="main-header__personal-area-options-block">
                <a href="{% url 'manager_school:get_manager_profile' %}" class="main-header__personal-area-link">Личный
                    кабинет</a>
                <img src="{% static 'images/Ellipse.svg' %}" alt="point"/>
            </p>
            <img src="{% static 'images/Rectangle.svg' %}" alt="подчеркивание" class="main-header__border-bottom"/>
        </div>

        <div class="main-header__personal-area-options">
            <p class="main-header__personal-area-options-block">
                <a href="{% url 'manager_school:chats' %}" class="main-header__personal-area-link">
                    <span class="main-header__personal-area-col">
                    {% if unreaded_dialogs_counter != 0 %}
                    {{ unreaded_dialogs_counter }}
                    {% endif %}
                    </span> Сообщения</a>
                <img src="{% static 'images/Ellipse.svg' %}" alt="point"/>
            </p>
            <img src="{% static 'images/Rectangle.svg' %}" alt="подчеркивание" class="main-header__border-bottom"/>
        </div>

        <div class="main-header__personal-area-options main-header__personal-area-options_go-out">
            <p class="main-header__personal-area-options-block">
                <a href="{% url 'manager_school:logout' %}" class="main-header__personal-area-link">Выйти</a>
                <img src="{% static 'images/Ellipse.svg' %}" alt="point"/>
            </p>
        </div>
    </div>
</header>

<nav class="main-menu">
    <div class="main-menu__logo">
        <div class="main-header__box-for-logo">
            <a href="{% url 'manager_school:main_page' %}">
                <img src="{% static 'images/logo.svg' %}" alt="logo" class="main-menu__logo-img"/>
            </a>
            <img src="{% static 'images/hide.svg' %}" alt="зыкрыть меню" class="main-menu__hide-img no-active"/>
        </div>
        <div class="main-menu__show">
            <img src="{% static 'images/show.svg' %}" alt="открыть меню" class="main-menu__show-img"/>
        </div>
    </div>

    <div class="main-menu__box-for-item">
        <div class="main-menu__item">
            <a href="{% url 'manager_school:get_groups' %}" class="main-menu__item-box">
                <img src="{% static 'images/icon16.svg' %}" alt="календарь" class="main-menu__item-img"/>
                <p class="main-menu__item-descriotion no-active">Группы</p>
            </a>
        </div>

        <div class="main-menu__item">
            <a href="{% url 'manager_school:get_classes' %}" class="main-menu__item-box">
                <img src="{% static 'images/icon.svg' %}" alt="календарь" class="main-menu__item-img"/>
                <p class="main-menu__item-descriotion no-active">Расписание</p>
            </a>
        </div>

        <div class="main-menu__item">
            <a href="{% url 'manager_school:get_teachers' %}" class="main-menu__item-box">
                <img src="{% static 'images/icon2.svg' %}" alt="календарь" class="main-menu__item-img"/>
                <p class="main-menu__item-descriotion no-active">Преподаватели</p>
            </a>
        </div>

        <div class="main-menu__item">
            <a href="{% url 'manager_school:registration_user' %}" class="main-menu__item-box">
                <img src="{% static 'images/icon2.svg' %}" alt="календарь" class="main-menu__item-img"/>
                <p class="main-menu__item-descriotion no-active">Регистрация пользователя</p>
            </a>
        </div>

        <div class="main-menu__item main-menu__item_position">
            <a href="{% url 'manager_school:get_leads' %}" class="main-menu__item-box">
                <img src="{% static 'images/icon18.svg' %}" alt="чат" class="main-menu__item-img"/>
                <p class="main-menu__item-descriotion no-active">Лиды</p>
            </a>
        </div>

        <div class="main-menu__item">
            <a href="{% url 'manager_school:get_contracts' %}" class="main-menu__item-box">
                <img src="{% static 'images/icon16.svg' %}" alt="календарь" class="main-menu__item-img"/>
                <p class="main-menu__item-descriotion no-active">Контракты</p>
            </a>
        </div>

        <div class="main-menu__item">
            <a href="{% url 'manager_school:planning_rooms_page' %}" class="main-menu__item-box">
                <img src="{% static 'images/icon.svg' %}" alt="календарь" class="main-menu__item-img"/>
                <p class="main-menu__item-descriotion no-active">Планирование</p>
            </a>
        </div>

        <div class="main-menu__item main-menu__item_position">
            <a href="{% url 'manager_school:chats' %}" class="main-menu__item-box">
                <img src="{% static 'images/icon18.svg' %}" alt="чат" class="main-menu__item-img"/>
                <p class="main-menu__item-descriotion no-active">Чат</p>
                <span class="main-menu__item-col">
                    {% if unreaded_dialogs_counter != 0 %}
                    {{ unreaded_dialogs_counter }}
                    {% endif %}
                </span>
            </a>
        </div>

        <div class="main-menu__item">
            <a href="{% url 'manager_school:get_news_list' %}" class="main-menu__item-box">
                <img src="{% static 'images/icon4.svg' %}" alt="календарь" class="main-menu__item-img"/>
                <p class="main-menu__item-descriotion no-active">Новости школы</p>
            </a>
        </div>

        <div class="main-menu__item main-menu__item-margin">
            <a href="{% url 'manager_school:change_user_info' %}" class="main-menu__item-box">
                <img src="{% static 'images/icon12.svg' %}" alt="календарь" class="main-menu__item-img"/>
                <p class="main-menu__item-descriotion no-active">Изменить личные данные</p>
            </a>
        </div>

        <div class="main-menu__item">
            <a href="{% url 'manager_school:logout' %}" class="main-menu__item-box">
                <img src="{% static 'images/icon11.svg' %}" alt="календарь" class="main-menu__item-img"/>
                <p class="main-menu__item-descriotion no-active">Выйти</p>
            </a>
        </div>
    </div>
</nav>

{% block content %}
<main class="main">
    <div class="main__student-tool">
        <a href="{% url 'manager_school:get_classes' %}" class="main__student-tool-box">
            <div class="main__student-tool-box-img">
                <img src="{% static 'images/calendar.svg' %}" alt="календарь ученика" class="main__student-tool-img"/>
            </div>
            <p class="main__student-tool-text-link main__student-tool-link">
                    Учебный календарь
            </p>
        </a>
        <a href="{% url 'manager_school:get_groups' %}" class="main__student-tool-box">
            <div class="main__student-tool-box-img">
                <img src="{% static 'images/process2.jpg' %}" alt="учебный процесс" class="main__student-tool-img"/>
            </div>
            <p class="main__student-tool-text-link main__student-tool-link">
                    Группы
            </p>
        </a>
        <a href="{% url 'manager_school:get_teachers' %}" class="main__student-tool-box">
            <div class="main__student-tool-box-img">
                <img src="{% static 'images/chat.svg' %}" alt="чат" class="main__student-tool-img"/>
            </div>
            <p class="main__student-tool-text-link main__student-tool-link">
                    Преподаватели
            </p>
        </a>
        <a href="{% url 'manager_school:get_leads' %}" class="main__student-tool-box">
            <div class="main__student-tool-box-img">
                <img src="{% static 'images/leads.jpg' %}" alt="чат" class="main__student-tool-img"/>
            </div>
            <p class="main__student-tool-text-link main__student-tool-link">
                    Лиды
            </p>
        </a>
        <a href="{% url 'manager_school:get_contracts' %}" class="main__student-tool-box">
            <div class="main__student-tool-box-img">
                <img src="{% static 'images/contracts.jpg' %}" style="object-fit: cover;" alt="чат"
                     class="main__student-tool-img"/>
            </div>
            <p class="main__student-tool-text-link main__student-tool-link">
                    Контракты
            </p>
        </a>
    </div>
</main>
{% endblock %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

{% block scripts %}
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}
</body>
</html>
