{% extends 'teacher/index.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'teacher/css/contact_administrator.css'%}" />
<link rel="stylesheet" href="{% static 'teacher/css/connection-admin.css'%}" />
{% endblock %}
{% block nav %}
<div class="main-header__page-information-change-specialty">
    <p class="main-header__page-information">Связь с администратором</p>
</div>
{% endblock %}

{% block content %}
<main>
    <form action="#">
        <div class="main-connection">
            <p class="main-connection__text">
                Связаться с администратором
            </p>
            <div class="main-connection__box">
                <div class="main-connection__box-border">
                    <input type="textarea" value="" name="textarea" required placeholder="Введите текс" class="main-connection__textarea" />
                </div>
            </div>
            <div class="main-connection__box-for-input">
                <button class="main-connection__button-for-file">
                    Прикрепить файл
                    <input type="file" value="#" name="" class="main-connection__file" multiple />
                </button>
                <input type="submit" value="Отправить" name="" class="main-connection__submit" />
            </div>
        </div>
    </form>
</main>
<script src="{% static 'teacher/js/main-header.js' %}"></script>
<script src="{% static 'teacher/js/contact_administrator.js'%}"></script>
{% endblock %}
