{% extends 'teacher/index.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'teacher/css/main-header.css'%}" />
<link rel="stylesheet" href="{% static 'teacher/css/education-literature.css'%}" />
{% endblock %}
{% block nav %}
<div class="main-header__page-information-change-specialty-literature">
    <p class="main-header__page-information">Учебные материалы</p>
    <p class="main-header__page-information-literature">Учебная литература</p>
</div>
{% endblock %}

{% block content %}
<main>
    <div class="filtr">
        <div class="filtr__container">
            <div class="filtr__search">
                <form class="filtr__search">
                    <input type="text" class="filtr__search-input" name='search' id="text-to-find" value="" placeholder="Фильтр по текст" />
                    <input type="button" class="filtr__search-button" onclick="javascript: FindOnPage('text-to-find'); return false;" value="" />
                </form>
            </div>
        </div>
    </div>
    <div class="materials">
        <div class="material__container">

            {% for l in literature %}
            <div class="material__container-literature">
                <div class="material__container-download">
                    <div class="material__container-img">
                        {% if l.img %}
                        <img src="{{ l.img.url }}" alt="картинка учебника" width="100px" />
                        {% else %}
                        <img src="{% static 'img/Rectangle 26.svg'%}" alt="картинка учебника" />
                        {% endif %}
                    </div>
                    <div class="material__container-link">
                        <a href="{{l.file.url}}" download>Скачать</a>
                    </div>
                </div>
                <div class="material__container-description">
                    <a href="{% url 'teacher:text_detail' l.id %}">
                    <div class="material__description-title">{{l.title}}</div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>
<script src="{% static 'teacher/js/main-header.js' %}"></script>

<script src="{% static 'teacher/js/education-literature.js'%}"></script>
{% endblock %}
