{% extends "base.html" %}
{% block title %}
Группы
{% endblock %}
{% block content %}
<form class="" action="{% url 'teacher:group_detail' %}" method="GET">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Группа</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01" name='choise'>
            <option selected>Выбрать...</option>
            {% for i in groups %}
            <option value="{{i.id}}">{{i.title}}</option>
            {% endfor %}
        </select>
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Ok</button>
        </div>
    </div>
</form>

<div class="col-md-12 pt-4 row">
    {% for us in students %}
<a href="{% url 'teacher:student_detail' us.id %}">
    <div class="col-md-3 p-4">
        <p>
            <img src="{{us.img_user.url}}" alt="" width="100px" height="100px"><br>
            {{us.first_name}}<br>
            {{us.last_name}}
            {% if us.is_active %}
            <input type="checkbox" name="" value="" checked>
            {%else%}
            <input type="checkbox" name="" value="">
            {% endif %}
        </p>
    </div>
</a>
{% endfor %}
</div>
{% endblock %}
