{% extends 'teacher/index.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'teacher/css/main-header.css'%}" />
<link rel="stylesheet" href="{% static 'teacher/css/materials_on_topics.css'%}" />
{% endblock %}
{% block nav %}
<div class="main-header__page-information-change-specialty">
    <p class="main-header__page-information">Учебный календарь</p>
    <div class="main-header__change-speciality">
        <div class="main-header__box-for-change-speciality">
            <p class="main-header__button-change-speciality">Выбрать курс...</p>
            <div class="main-header__list-speciality no-active">
                <p class="main-header__wrapp-for-speciality-link">
                    <a href="#" class="main-header__speciality-link">Frontend-разработчик</a>
                </p>
                <p class="main-header__wrapp-for-speciality-link">
                    <a href="#" class="main-header__speciality-link">Backend-разработчик</a>
                </p>
                <p class="main-header__wrapp-for-speciality-link">
                    <a href="#" class="main-header__speciality-link">Тестировщик</a>
                </p>
            </div>
        </div>
        <div class="main-header__box-for-info">
            <p class="main-header__speciality-info-name">Тестировщик</p>
            <p class="main-header__speciality-info-group">(группа <span>2</span>)</p>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<main>
    <div class="main__material-topic">
        <div class="main__material-topic-text">
            <p class="main__material-topik-text main__material-topik-text_width">
                Занятие 1
            </p>
            <a href="#" class="main__material-topic-link">
                "Название темы"
            </a>
            <p class="main__material-topic-text main__material-topic-text_margin_weight">
                10 августа 2020
            </p>
        </div>
        <div class="main__material-topic-text">
            <p class="main__material-topik-text main__material-topik-text_width">
                Занятие 2
            </p>
            <a href="#" class="main__material-topic-link">
                "Название темы"
            </a>
            <p class="main__material-topic-text main__material-topic-text_margin_weight">
                10 августа 2020
            </p>
        </div>
        <div class="main__material-topic-text">
            <p class="main__material-topik-text main__material-topik-text_width">
                Занятие 3
            </p>
            <a href="#" class="main__material-topic-link">
                "Название темы"
            </a>
            <p class="main__material-topic-text main__material-topic-text_margin_weight">
                10 августа 2020
            </p>
        </div>
        <div class="main__material-topic-text">
            <p class="main__material-topik-text main__material-topik-text_width">
                Занятие 4
            </p>
            <a href="#" class="main__material-topic-link">
                "Название темы"
            </a>
            <p class="main__material-topic-text main__material-topic-text_margin_weight">
                10 августа 2020
            </p>
        </div>
        <div class="main__material-topic-text">
            <p class="main__material-topik-text main__material-topik-text_width">
                Занятие 5
            </p>
            <a href="#" class="main__material-topic-link">
                "Название темы"
            </a>
            <p class="main__material-topic-text main__material-topic-text_margin_weight">
                10 августа 2020
            </p>
        </div>
        <div class="main__material-topic-text">
            <p class="main__material-topik-text main__material-topik-text_width">
                Занятие 6
            </p>
            <a href="#" class="main__material-topic-link">
                "Название темы"
            </a>
            <p class="main__material-topic-text main__material-topic-text_margin_weight">
                10 августа 2020
            </p>
        </div>
        <div class="main__material-topic-text">
            <p class="main__material-topik-text main__material-topik-text_width">
                Занятие 7
            </p>
            <a href="#" class="main__material-topic-link">
                "Название темы"
            </a>
            <p class="main__material-topic-text main__material-topic-text_margin_weight">
                10 августа 2020
            </p>
        </div>
        <div class="main__material-topic-text">
            <p class="main__material-topik-text main__material-topik-text_width">
                Занятие 8
            </p>
            <a href="#" class="main__material-topic-link">
                "Название темы"
            </a>
            <p class="main__material-topic-text main__material-topic-text_margin_weight">
                10 августа 2020
            </p>
        </div>
        <div class="main__material-topic-text">
            <p class="main__material-topik-text main__material-topik-text_width">
                Занятие 9
            </p>
            <a href="#" class="main__material-topic-link">
                "Название темы"
            </a>
            <p class="main__material-topic-text main__material-topic-text_margin_weight">
                10 августа 2020
            </p>
        </div>
        <div class="main__material-topic-text">
            <p class="main__material-topik-text main__material-topik-text_width">
                Занятие 10
            </p>
            <a href="#" class="main__material-topic-link">
                "Название темы"
            </a>
            <p class="main__material-topic-text main__material-topic-text_margin_weight">
                10 августа 2020
            </p>
        </div>
        <div class="main__material-topic-text">
            <p class="main__material-topik-text main__material-topik-text_width">
                Занятие 11
            </p>
            <a href="#" class="main__material-topic-link">
                "Название темы"
            </a>
            <p class="main__material-topic-text main__material-topic-text_margin_weight">
                10 августа 2020
            </p>
        </div>
    </div>
</main>
<script src="{% static 'teacher/js/main-header.js' %}"></script>

{% endblock %}
