{% extends 'teacher/index.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'teacher/css/studying_proccess.css'%}" />
<link rel="stylesheet" href="{% static 'teacher/css/studing-process.css'%}" />
{% endblock %}
{% block nav %}
<div class="main-header__page-information-change-specialty">
    <p class="main-header__page-information">Учебный календарь</p>
    <div class="main-header__change-speciality">
        <div class="main-header__box-for-change-speciality">
            <p class="main-header__button-change-speciality">Выбрать курс...</p>
            <div class="main-header__list-speciality no-active">
                <form action="" method="get" class="main-header__form-change-course">
                    <input type="text" name="course" hidden class="main-header__change-course" />
                    <p class="main-header__wrapp-for-speciality-link" data-value="1">
                        Frontend-разработчик
                    </p>
                    <p class="main-header__wrapp-for-speciality-link" data-value="2">
                        Backend-разработчик
                    </p>
                    <p class="main-header__wrapp-for-speciality-link" data-value="3">
                        Тестировщик
                    </p>
                </form>
            </div>
        </div>
        <div class="main-header__box-for-info">
            <p class="main-header__speciality-info-name">Тестировщик</p>
            <p class="main-header__speciality-info-group">(группа <span>2</span>)</p>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<main>
    <div class="main__student-process">
        <div class="main__student-process-box">
            <img src="{% static 'teacher/img/home_work.svg'%}" alt="домашнее задание" class="main__student-process-img" />
            <p class="main__student-process-text">
                <a href="{% url 'teacher:homework' %}" class="main__student-process-link">
                    Домашнее задание
                </a>
            </p>
        </div>
        <div class="main__student-process-box">
            <img src="{% static 'teacher/img/educational_materials.svg'%}" alt="домашнее задание" class="main__student-process-img" />
            <p class="main__student-process-text">
                <a href="{% url 'teacher:materials' %}" class="main__student-process-link">
                    Учебные материалы
                </a>
            </p>
        </div>
        <div class="main__student-process-box">
            <img src="{% static 'teacher/img/group1.svg'%}" alt="домашнее задание" class="main__student-process-img" />
            <p class="main__student-process-text">
                <a href="{% url 'teacher:group_detail' %}" class="main__student-process-link">
                    Группа
                </a>
            </p>
        </div>
        <div class="main__student-process-box">
            <img src="{% static 'teacher/img/teacher.svg'%}" alt="домашнее задание" class="main__student-process-img" />
            <p class="main__student-process-text">
                <a href="{% url 'teacher:teachers' %}" class="main__student-process-link">
                    Преподаватели
                </a>
            </p>
        </div>
    </div>
</main>
<script src="{% static 'teacher/js/main-header.js' %}"></script>

{% endblock %}
