{% extends 'admin/base_admin.html' %}
{% load static %}
{% block title %}  Новости{% endblock %}
{%block header%} Новости {% endblock %}
{% block content %}
<div class="main__schedule">
<h1>{{ new.title }}</h1>
    <div>
    <p>{{ new.description|safe }}</p>
    <p>{{ new.created }}</p>
    </div>
    <div>
    
        <a href="{% url 'admin_school:change_new' new.pk %}">Изминить запись</a>
        <form action="{% url 'admin_school:del_new' new.pk %}" method="post">
            {% csrf_token %}
        <input type="submit" value="удалить запись" onmouseover="this.value='удалить'" onmouseout="this.value='наведите что бы удалить запись'">
        </form>
    </div>
</div>
{% endblock %}