{% extends "admin/main_page/main_page_admin.html"%}
{% block title %} Новости школы{% endblock %}
{% block content %}
    <div>
    <a href="{% url 'admin_school:add_news' %}">Добавить новость</a>
        <a href="{% url 'admin_school:add_rubrick' %}">Добавить рубрику</a>
    </div>
    {% for rubrick in rubricks %}
        <a href="{% url 'admin_school:rubrick' rubrick.pk %}">{{ rubrick }}</a>
    {% endfor %}
    {% for new in news %}
        <div>
            <div>
                <a href="{% url 'admin_school:new_view' new.pk %}">{{ new.title }}</a>
            </div>
            <div>
                {{ new.description|safe }}
            </div>
            <div>
                {{ new.created }}
            </div>


        </div>
    {% endfor %}
{% endblock %}