{% extends 'admin/base_admin.html' %}
{% load static %}
{% block title %}Нововсти{% endblock %}
{%block header%}Новости{%endblock %}
{% block content %}
<div class="main__schedule">
    <div class="main__schedule">
    <a href="{% url 'admin_school:add_news' %}">Добавить новость</a>
    </div>
    {% for rubrick in rubricks %}
        <a href="{% url 'admin_school:rubrick' rubrick.pk %}">{{ rubrick }}</a>
    {% endfor %}
    {% for new in news %}
        <div>
            <div>
                <a href="{% url 'admin_school:new_view' new.pk %}"> {{ new.title }}</a>
            </div>
            <div>
                {{ new.description|safe }}
            </div>
            <div>
                {{ new.created }}
            </div>

        </div>
</div>
    {% endfor %}
{% endblock %}