{% extends 'admin/base_admin.html' %}
{% load static %}
{% block title %}{{ news_rubrick.title }}{% endblock %}
{%block header%}Рубрики{%endblock %}
{% block content %}
        {% for news in current_news %}
        <h2><a href="{% url 'admin_school:new_view' news.pk %}">{{ news.title|safe}}</a></h2>
        <p>{{news.description|safe}}</p>
    {% endfor %}
    {% if page.has_previous %}
        <a href="?page={{ page.previous_page_number }}">&lt;</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
    {% endif %}
    Часть №{{ page.number }} из {{ page.paginator.num_pages }}
    {% if page.has_next %}
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="?page={{ page.next_page_number }}">&gt;</a>
    {% endif %}
{% endblock %}