{% extends 'student/base_student.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% load tags %}
{% block title %}
    <title>
        {% if unreaded_dialogs_counter != 0 %}
            {{ unreaded_dialogs_counter }} непрочитанных сообщений
        {% else %}
            Чаты
        {% endif %}
    </title>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/main-header.css' %}">
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">
{% endblock %}

{% block header %}
    <p class="main-header__page-information"><a href="{% url 'student:chats' %}">Чаты</a></p>
{% endblock %}

{% block content %}

<main>
    <div class="main-chat">
        <div class="main__chat" style="margin-top: 60px">
            <div class="main__chat-box-name">
                <div class="main__chat-box">
                    <p class="main__chat-name-text">
                        Название чата
                    </p>
                </div>
                {% if chats.count == 0 %}
                <p class="main__chat-with-who-name m-0">
                    <a class="main__chat-with-who-link">
                        Нет ни одного начатого диалога
                    </a>
                </p>
                {% endif %}
                {% for chat in chats %}
                {% with last_message=chat.message_set.last %}
                {% get_companion user chat as companion %}
                <p class="main__chat-with-who-name m-0 d-flex justify-content-between pl-2 pr-2">
                    <a href="{% url 'student:messages' chat_id=chat.id %}" class="main__chat-with-who-link">
                        {% if chat.type == 'C' %}
                        {{ chat.chat_title }}
                        {% else %}
                        {% if companion %}
                        {{ companion.last_name }} {{ companion.first_name }}
                        {% else %}
                        Saved Messages
                        {% endif %}
                        {% endif %}
                    </a>
                    {% if companion == last_message.author %}
                    {% if not last_message.is_readed %}
                    <span>{% get_unread_message_count user chat %} {{ last_message.message|truncatechars_html:"50"|safe|striptags }}</span>
                    {% endif %}
                    {% endif %}
                </p>
                {% endwith %}
                {% endfor %}
            </div>
            <div class="main__chat-box-open">
                <div class="main__chat-open">
                    {% block messages %}
                    <div class="main__chat-message-textarea">
                        <p class="main__chat-open-text m-0">
                            Выберите чат
                        </p>
                    </div>
                    {% endblock %}
                    {% for chat in chats %}
                        {% if chat.message_set.count != 0 %}
                            {% with last_message=chat.message_set.last %}
                                {% get_companion user chat as companion %}
                                <p class="main__chat-with-who-name m-0 d-flex justify-content-between pl-2 pr-2">
                                    <a href="{% url 'student:messages' chat_id=chat.id %}"
                                       class="main__chat-with-who-link">
                                        {% if companion %}
                                            {{ companion.last_name }} {{ companion.first_name }}
                                        {% else %}
                                            Saved Messages
                                        {% endif %}
                                    </a>
                                    {% if companion == last_message.author %}
                                        {% if not last_message.is_readed %}
                                            <span>{% get_unread_message_count user chat %} {{ last_message.message|truncatechars_html:"50"|safe|striptags }}</span>
                                        {% endif %}
                                    {% endif %}
                                </p>
                            {% endwith %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        var block = document.getElementById("messages__container");
        block.scrollTop = block.scrollHeight;
    </script>
    <script src="{% static 'js/main-header-manager.js' %}"></script>
    <script src="{% static 'js/chat.js' %}"></script>
{% endblock %}
