{% extends 'manager/base_manager.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/services_page.css' %}" />
{% endblock %}

{% block title %}
<p class="main-header__page-information">Лиды</p>
<form class="form-inline justify-content-center mt-1" action="{% url 'manager_school:add_lead' %}" method="get">
    <button type="submit" class="btn btn-primary mb-2 ml-2">Оформить заявку</button>
</form>
{% endblock %}

{% block content %}
<main>
    <div class="p-3">
<form class="form-inline justify-content-center" method="post">
    {% csrf_token %}
    <div class="btn mb-2 mr-2">Дата</div>
    {{ leads.form.enter_date }}

    <div class="btn mb-2 mr-2">Специалист</div>
    {{ leads.form.specialist }}

    <div class="btn mb-2 mr-2">Статус</div>
    {{ leads.form.status }}

    <button type="submit" class="btn btn-primary mb-2 ml-2">Искать</button>
</form>
<hr>
<div class="d-flex" style="width: 100%; overflow-x:scroll;">
    <table class="table table-hover w-100">
        <thead class="thead-dark" >
        <tr>
            <th scope="col">Статус (Итог)</th>
            <th scope="col">#</th>
            <th scope="col">Дата входа</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Имя</th>
            <th scope="col">Отчество</th>
            <th scope="col">Курс</th>
            <th scope="col">Специалист</th>
            <th scope="col">Просмотр</th>
            <th scope="col">Договор</th>
        </tr>
        </thead>
        <tbody>
        {% for lead in leads.qs %}
        <tr class="alert {% if lead.status == 'In Progress' %}alert-warning{% elif lead.status == 'Ready' %}alert-success{% elif lead.status == 'Denial' %}alert-danger{% else %}alert-primary{% endif%}"
            style="border: 0px solid transparent;" role="alert">
            <td>{% if lead.status == '' %}<a class="btn btn-danger" href="{% url 'manager_school:confirm_lead' lead_id=lead.id %}">Обработать</a>{% else %}{{ lead.status }}{% endif %}</td>
            <td>{{ lead.id }}</td>
            <td style="min-width: 200px">{{ lead.enter_date }}</td>
            <td>{{ lead.last_name }}</td>
            <td>{{ lead.first_name }}</td>
            <td>{{ lead.patronymic }}</td>
            <td>{% if lead.course %}{{ lead.course }}{% endif %}</td>
            <td>{% if lead.specialist %}{{ lead.specialist }}{% endif %}</td>
            <td>{% if lead.status != '' %}<a class="btn btn-light" href="{% url 'manager_school:lead_history' lead_id=lead.id %}">Просмотреть историю</a>{% else %}{% endif %}
            </td>
            <td>{% if lead.contract %}
                <a class="btn btn-success" href="{% url 'manager_school:get_contract_detail' contract_id=lead.contract.id %}">Просмотреть</a>
                {% elif lead.status == 'Ready' %}
                <a class="btn btn-warning" href="{% url 'manager_school:get_choice' lead_id=lead.id %}">Создать</a>
                {% else %}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div></div></main>
{% endblock %}