* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

input[type="submit"]:hover {
  cursor: pointer;
}

input {
  outline: none;
}

button:hover {
  cursor: pointer;
  outline: none;
}

@font-face {
  font-family: Montserrat-Medium; /* Гарнитура шрифта */
  src: url(../fonts/Montserrat/Montserrat-Medium.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Montserrat-SemiBold; /* Гарнитура шрифта */
  src: url(../fonts/Montserrat/Montserrat-SemiBold.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Aclonica-Regular; /* Гарнитура шрифта */
  src: url(../fonts/Aclonica/Aclonica-Regular.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Montserrat-Regular; /* Гарнитура шрифта */
  src: url(../fonts/Montserrat/Montserrat-Regular.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Montserrat-LightItalic; /* Гарнитура шрифта */
  src: url(../fonts/Montserrat/Montserrat-LightItalic.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Montserrat-Bold; /* Гарнитура шрифта */
  src: url(../fonts/Montserrat/Montserrat-Bold.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Montserrat-Light; /* Гарнитура шрифта */
  src: url(../fonts/Montserrat/Montserrat-Light.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Montserrat-SemiBold; /* Гарнитура шрифта */
  src: url(../fonts/Montserrat/Montserrat-SemiBold.ttf); /* Путь к файлу со шрифтом */
}

.slider {
  position: relative;
  overflow: hidden;
  width: 1024px;
  margin: auto;
  height: 150px;
}

.slider__wrapper {
  display: flex;
  transition: transform 0.6s ease;
  width: 50%;
  height: 100%;
}

.slider__item {
  flex: 0 0 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.slider__img {
  width: 200px;
  height: 200px;
}

.slider__control {
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  height: 50px;
  transform: translateY(-50%);
  /* background: rgba(0, 0, 0, .5); */
}

.slider__control:hover,
.slider__control:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}

.slider__control_left {
  left: 0;
}

.slider__control_right {
  right: 0;
}

.slider__control::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.slider__control_left::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control_right::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.slider__item > div {
  line-height: 250px;
  text-align: center;
  width: 50%;
  background-color: #b7c2e7;
  height: 100%;
}
/* 
.slider__item-content-box {
  width: 80%;
  height: 100%;
  background-color: aqua;
} */

.slider__group-name {
  font-family: Montserrat-Medium;
  font-size: 16px;
  height: 100%;
  color: #283965;
}

.slider__control:hover {
  cursor: pointer;
}

.all-groups__course-name {
  background: linear-gradient(#c3dbf9, #d4e5fb);
  margin-bottom: 50px;
  padding: 5px 0px 5px 60px;
  font-family: Montserrat-Bold;
  color: #2e5e96;
}

.all-groups__course {
  margin-top: 100px;
}

.all-groups__course:last-child {
  margin-bottom: 50px;
}
