* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

@font-face {
  font-family: Montserrat-Medium; /* Гарнитура шрифта */
  src: url(../fonts/Montserrat/Montserrat-Medium.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Montserrat-SemiBold; /* Гарнитура шрифта */
  src: url(../fonts/Montserrat/Montserrat-SemiBold.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Aclonica-Regular; /* Гарнитура шрифта */
  src: url(../fonts/Aclonica/Aclonica-Regular.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Montserrat-Regular; /* Гарнитура шрифта */
  src: url(../fonts/Montserrat/Montserrat-Regular.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Montserrat-LightItalic; /* Гарнитура шрифта */
  src: url(../fonts/Montserrat/Montserrat-LightItalic.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Montserrat-Bold; /* Гарнитура шрифта */
  src: url(../fonts/Montserrat/Montserrat-Bold.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Montserrat-Light; /* Гарнитура шрифта */
  src: url(../fonts/Montserrat/Montserrat-Light.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Montserrat-SemiBold; /* Гарнитура шрифта */
  src: url(../fonts/Montserrat/Montserrat-SemiBold.ttf); /* Путь к файлу со шрифтом */
}

.form-container {
  width: 800px;
  background: linear-gradient(180deg, #2f4aa7 0%, #6481e4 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Montserrat-Regular;
  color: #114a8e;
  padding: 20px;
}

h3 {
  width: 100%;
  text-align: center;
  color: white;
  padding-bottom: 10px;
}


.form-content {
  width: 750px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}
.input-wrapper input,
select, textarea {
  width: 70%;
  font-family: Montserrat-Regular;
  color: #114a8e;
  font-size: 16px;
  border: 1px solid cadetblue;
}

input::placeholder {
  color: #114a8e;
}

.input-wrapper {
  display: flex;
  width: 85%;
  justify-content: center;
  margin-top: 10px;
}
.input-wrapper p {
  width: 40%;
  font-family: Montserrat-Bold;
}
.coast {
  margin-top: 40px;
}
.submit {
  width: 120px;
  height: 25px;
  background: #0c216b;
  border-radius: 4px;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  border: none;
}

input {
  outline: none;
}


.stage-p {
  width: auto!important;
  margin-left: 15px;
  min-width: 100px;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
