@font-face {
  font-family: Montserrat-Medium; /* Гарнитура шрифта */
  src: url(../fonts/Montserrat/Montserrat-Medium.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Montserrat-Regular; /* Гарнитура шрифта */
  src: url(../fonts/Montserrat/Montserrat-Regular.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Montserrat-SemiBold; /* Гарнитура шрифта */
  src: url(../fonts/Montserrat/Montserrat-SemiBold.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Montserrat-Thin; /* Гарнитура шрифта */
  src: url(../fonts/Montserrat/Montserrat-Thin.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Montserrat-Light; /* Гарнитура шрифта */
  src: url(../fonts/Montserrat/Montserrat-Light.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Montserrat-Black; /* Гарнитура шрифта */
  src: url(../fonts/Montserrat/Montserrat-Black.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Montserrat-Bold; /* Гарнитура шрифта */
  src: url(../fonts/Montserrat/Montserrat-Bold.ttf); /* Путь к файлу со шрифтом */
}

body {
  background-color: #3a6192;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main__personal-student-card {
  width: 1100px;
  height: 620px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 80px;
}

.main__personal-student-card-info {
  width: 700px;
  height: 620px;
  background: linear-gradient(315deg, #e8f5ff, #f1f3fa);
  box-shadow: inset -1px -1px 5px 1px #aebcec;
}

.main__personal-student-card-box {
  width: 100%;
  height: 370px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main__personal-student-card-perfomance {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 230px;
}

.main__personal-student-card-img {
  width: 250px;
  height: 300px;
}

.main__personal-student-card-data-text {
  font-family: Montserrat-Regular;
  font-size: 18px;
  color: #071959;
  margin-top: 3px;
}

.main__personal-student-card-data-text_weigth {
  font-family: Montserrat-SemiBold;
  margin-bottom: 50px;
}

.main__personal-student-card-data-text_size {
  font-family: Montserrat-Light;
  font-size: 16px;
  color: #071959;
  margin-top: 5px;
}

.main__personal-student-card_weight {
  font-family: Montserrat-Thin;
}

.main__personal-student-card-data-link {
  display: block;
  font-family: Montserrat-Light;
  font-size: 12px;
  text-decoration: none;
  color: #0c335c;
  margin-top: 40px;
}

.main__personal-student-card-perfomance-text {
  font-family: Montserrat-Regular;
  font-size: 15px;
  color: #0056b0;
  margin-bottom: 10px;
}

.circle {
  display: block;
  float: left;
}
circle {
  fill: rgba(0, 0, 0, 0);
  stroke: #eee;
  stroke-width: 15;
  stroke-dasharray: 408px 408px;
}
circle:nth-child(2n) {
  fill: rgba(0, 0, 0, 0);
  stroke: #097cad;
  stroke-width: 15;
}

.main__personal-student-card-perfomance-visit {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__personal-student-card-perfomance-academic {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__personal-student-card-payment {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  /*width: 377px;*/
  background: linear-gradient(180deg, #90cbf7, #eaefff);
  box-shadow: inset -1px -1px 5px 1px #aebcec;
}

.main__personal-student-card-payment-text {
  font-family: Montserrat-Black;
  font-size: 21px;
  color: #0c335c;
  margin-bottom: 40px;
}

.main__personal-student-card-payment-text-status {
  font-family: Montserrat-Bold;
  font-size: 15px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.main__personal-student-card-payment-text_border {
  font-family: Montserrat-SemiBold;
  font-size: 15px;
  width: 121px;
  height: 30px;
  background-color: #4160ca;
  color: white;
  text-align: center;
  line-height: 30px;
}

.main__personal-student-card-payment-link {
  font-family: Montserrat-SemiBold;
  font-size: 15px;
  text-decoration: none;
  color: #0c335c;
}

.main__personal-student-card-payment-status {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.main__personal-box-for-input-file {
  position: relative;
  width: 200px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7890e4;
  font-family: Montserrat-Medium;
  font-size: 15px;
  color: #0c335c;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 25%);
}

.main__personal-button-input-file {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
