@font-face {
    font-family: Montserrat-Medium; /* Гарнитура шрифта */
    src: url(../fonts/Montserrat/Montserrat-Medium.ttf); /* Путь к файлу со шрифтом */
   }

@font-face {
    font-family: Montserrat-Regular; /* Гарнитура шрифта */
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf); /* Путь к файлу со шрифтом */
   }

.main__services{
    display: flex;
    justify-content: space-evenly;
    width: auto;
}

.main__services-box{
    width: 370px;
    height: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
}

.main__services-img{
    width: 191px;
    height: 191px;
    margin: 0 auto;
}

.main__services-text{
    text-align: center;
    font-family: Montserrat-Regular;
    font-size: 20px;
    margin-top: 50px;
}

.main__services-link{
    text-decoration: none;
}

.main-header__drop-down-notifications {
  position: absolute;
  right: 0;
  top: 100%;
  width: 300px;
  background: linear-gradient(to bottom, #c3dbf9, #79a6cf);
  padding-left: 20px;
  padding-bottom: 20px;
    margin-right: 0;
}