@font-face {
    font-family: Montserrat-Medium; /* Гарнитура шрифта */
    src: url(../fonts/Montserrat/Montserrat-Medium.ttf); /* Путь к файлу со шрифтом */
   }

@font-face {
    font-family: Montserrat-Regular; /* Гарнитура шрифта */
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf); /* Путь к файлу со шрифтом */
   }

.main__educational-materials{
    display: flex;
    justify-content: space-evenly;
    width: auto;
    margin-top: 100px;
}

.main__educational-materials-box{
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main__educational-materials-img{
    width: 173px;
    height: 173px;
    margin: 0 auto;
}

.main__educational-materials-text{
    text-align: center;
    font-family: Montserrat-Medium;
    font-size: 18px;
    color: #203F8D;
    margin-top: 15px;
}

.main__educational-materials-link{
    text-decoration: none;
}

