
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Страница авторизации</title>
</head>
<body>
<h2>Вход</h2>
{% if user.is_authenticated%}
<p>Вы уже выполнили вход</p>
<a href="{% url 'admin_school:main_page_admin' %}">Главная</a>
<li><a href="{%url 'admin_school:logout_admin'%}">выход</a></li>
{%else%}
<form method="post">
    {% csrf_token %}
      {{ form.as_p }}
      <input type="hidden" name="next" value="{{next}}">
      <input type="submit" value="войти">

</form>
{%endif%}

</body>
</html>
