{% extends 'admin/base_admin.html' %}
{% load static %}
{% block title %}Главная страница{% endblock %}
{%block header%}Учебный календарь{% endblock %}
{% block content %}

<div class="main-page">
    <div class="main-page__box">
      <a href="{% url 'admin_school:group_list_view' %}" class="main-page__box_list-of-groups">
        <img src="{% static 'images/groups.svg' %}">
        <p class="main-page__box_name">Список групп</p>
      </a>
      <a href="{% url 'admin_school:timetable' %}" class="main-page__box_schedule">
        <img src="{% static 'images/schedule.svg' %}">
        <p class="main-page__box_name">Расписание</p>
      </a>
      <a href="{% url 'admin_school:teacher_tab' %}" class="main-page__box_teachers">
        <img src="{% static 'images/teachers.svg' %}">
        <p class="main-page__box_name">Преподаватели</p>
        </a>
      <a href="{% url 'admin_school:costs_admin' %}" class="main-page__box_expenses">
        <img src="{% static 'images/expenses.svg' %}">
        <p class="main-page__box_name">Расходы</p>
      </a>
    </div>
</div>

{% endblock %}