{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}

{% block title %}
Изменение личных данных
{% endblock %}

{% block content %}
{% if messages %}
<div class="col mt-4 mb-4">
    {% bootstrap_messages %}
</div>
{% endif %}
<div class="col-md-2 mx-auto">
    {% if request.user.img_user %}
    <img src="{{request.user.img_user.url}}" alt="" width="100px" height="100px">
    {% else %}
    <p></p>
    {% endif %}
</div>
<form action="." method="post" class="form-group" enctype="multipart/form-data">
    {{ user_form|crispy }}
    {% csrf_token %}
    <input type="submit" class="btn btn-primary" value="Сохранить">
</form>
<a href="{% url 'teacher:password' %}">Изменить пароль</a>
{% endblock %}

