{% extends "base.html" %}
{% block title %}
Домашнее задание студентов
{% endblock %}
{% block content %}
<form class="" action="{% url 'teacher:homework' %}" method="GET">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Группа</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01" name='choise'>
            <option selected>Выбрать...</option>
            {% for i in groups %}
            <option value="{{i.id}}">{{i.title}}</option>
            {% endfor %}
        </select>
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Ok</button>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead class="thead-primary">
                <tr class="text-center">
                    <th>Занятие</th>
                    <th>Студент</th>
                    <th>Статус</th>
                </tr>
            </thead>
            <tbody>

                {% for h in homework %}

                <tr class="">

                    <td class="text-center">
                        <a href="{% url 'teacher:homework_detail' h.id %}">{{ h.class_field }}</a>
                    </td>

                    <td class="text-center">{{h.user.first_name}}<br>
                        {{h.user.last_name}}
                    </td>

                    <td class="text-center">
                        {{ h.status }}

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}
