{% extends "base.html" %}
{% block title %}
    Учебные материалы
{% endblock %}
{% block content %}
<div class="row justify-content-around">
    <div class="col-md-3">
        <a href="">Материалы по темам</a>
    </div>
    <div class="col-md-3">
        <a href="{% url 'teacher:text_mat' %}">Учебная литература</a>
    </div>
    <div class="col-md-3">
        <a href="{% url 'teacher:video_mat' %}">Видеоматериалы</a>
    </div>
    <div class="col-md-3">
        <a href="#">Видеозанятия</a>
    </div>
</div>
{% endblock %}
