{% extends "base.html" %}
{% block title %}
Профиль
{% endblock %}

{% block content %}
<div class="col-md-2 mx-auto">
    {% if request.user.img_user %}
    <img src="{{request.user.img_user.url}}" alt="" width="100px" height="100px">
    {% else %}
    <p></p>
    {% endif %}
</div>
<div class="col-md-10 mx-auto mt-4">
    <ul class="list-group">
        <li class="list-group-item">Имя: {{request.user.first_name}}</li>
        <li class="list-group-item">Фамилия: {{request.user.last_name}}</li>
        <li class="list-group-item">Отчество: {{request.user.surname}}</li>
        <li class="list-group-item">E-Mail: {{request.user.email}}</li>
        <li class="list-group-item">Телефон: {{request.user.phone}}</li>
    </ul>
</div>
<div class="row justify-content-center pt-4 mt-4">
    <div class="col-md-4">
        Курсы:<br>
        <ul class="list-group mb-4">
            {% for g in groups %}
            <li class="list-group-item">{{g.course.title}}</li>
            {% endfor %}
        </ul>
        <p><a class="btn btn-primary" href="{% url 'teacher:account' %}">Изменить данные</a></p>
    </div>
    <div class="col-md-4">
        Статистика:<br>
        <ul class="list-group">
            <li class="list-group-item">Кол-во занятий: </li>
            <li class="list-group-item">Кол-во часов: </li>
            <li class="list-group-item">Кол-во групп: {{groups.count}}</li>
            <li class="list-group-item">Ставка: </li>
        </ul>
    </div>
</div>
{% endblock %}
