<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход в личный кабинет менеджера</title>
    <link rel="stylesheet" href="{% static 'css/open.css' %}">
</head>
<body>
<main>
    <div class="main__open-student">
        <form method="post">
            {% csrf_token %}
            <h1 class="main__open-student-text">
                Вход в личный кабинет
            </h1>
            <div class="main__open-student-box-input">
                {{ form.username }}
            </div>
            <div class="main__open-student-box-input">
                {{ form.password }}
            </div>
            <div class="main__open-student-box-button">
                <div class="squaredThree">
                    {{ form.remember_me }}
                    <label for="squaredThree">Запомнить меня</label>
                </div>
                <div class="main__open-student-box">
                    <input type="submit" class="main__open-student-button" value="Войти">
                </div>
            </div>
        </form>
    </div>
</main>
</body>
</html>
