{% extends 'manager/base_manager.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/services_page.css' %}"/>
{% endblock %}

{% block title %}
<p class="main-header__page-information">Контракт </p>
{% endblock %}

{% block content %}
<main>
    <div class="p-3">
        <div class="d-flex flex-column">
            <div class="d-flex">
                <div class="p-1 text-secondary">Номер договора</div>
                <div class="p-1 text-secondary">{{ contract.number }}</div>
            </div>
            <div class="d-flex">
                <div class="p-1 text-secondary">Дата заключения</div>
                <div class="p-1 text-secondary">{{ contract.date }}</div>
            </div>
            <div class="d-flex">

                <div class="p-1 text-secondary">Курс</div>
                <div class="p-1 text-secondary">{{ contract.course }}</div>
            </div>
            <div class="d-flex">
                <div class="p-1 text-secondary">Группа</div>
                <div class="p-1 text-secondary">{{ contract.group }}</div>
            </div>
            <div class="d-flex">
                <div class="p-1 text-secondary">Аккунт</div>
                <div class="p-1 text-secondary">{{ contract.account }}</div>
            </div>
            <div class="d-flex">
                <div class="p-1 text-secondary">Цена</div>
                <div class="p-1 text-secondary">{{ contract.price }}BYN</div>
            </div>
            <div class="d-flex">
                <div class="p-1 text-secondary">Подписан</div>
                <div class="p-1 text-secondary">{% if contract.is_subscribed %}Да{% else %}Нет{% endif %}</div>
            </div>
            {% if not contract.is_subscribed %}
            <form action="." method="post">
                {% csrf_token %}
                <div class="form-group form-check">
                    <input type="checkbox" name="is_subscribed" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label text-secondary" for="exampleCheck1">Контракт подписан?</label>
                </div>
                <button class="btn btn-primary">Подтвердить</button>
            </form>
            {% endif %}
        </div>
        <hr>
        {% if contract.payment.by_stages %}
        <div class="alert alert-dark">Этапы оплаты | {{ contract.payment.paymentstage_set.count }}</div>
        {% else %}
        <div class="alert alert-dark">Оплата</div>
        {% endif %}
        <hr>
        <div class="d-flex flex-wrap">
            {% for stage in contract.payment.paymentstage_set.all %}
            {% if stage.is_confirmed %}
            <div class="card mr-3 mb-3 bg-success">
                {% else %}
                <div class="card mr-3 mb-3 bg-warning">
                    {% endif %}
                    <div class="card-header">
                        {% if stage.picture %}
                        <a download href="{{ stage.picture.url }}" class="text-light">Чек</a>
                        {% else %}
                        <div class="text-light">Нет чека</div>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <div class="alert alert-light p-1 mr-2">{{ stage.price }}</div>
                        <div class="alert alert-light p-1 mr-2">{{ stage.date }}</div>
                        {% if not stage.is_confirmed %}
                        <form action="{% url 'manager_school:confirm_payment_stage' payment_stage_id=stage.id  %}"
                              method="post">
                            {% csrf_token %}
                            <button class="btn btn-secondary">Подтвердить</button>
                        </form>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endblock %}