{% extends 'manager/base_manager.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/services_page.css' %}"/>
<link rel="stylesheet" href="{% static 'css/contracts.css' %}"/>
{% endblock %}

{% block title %}
<p class="main-header__page-information">Контракты</p>
{% endblock %}

{% block content %}
<main>
    <div class="thead__wrapper">
        <table>
            <tbody>
            <tr>
                <td class="thead__td-color thead__td-color_light">Номер договора</td>
                <td class="thead__td-color thead__td-color_dark">Дата договора</td>
                <td class="thead__td-color thead__td-color_light">ФИО</td>
                <td class="thead__td-color thead__td-color_dark">Курс</td>
                <td class="thead__td-color thead__td-color_light">Группа</td>
                <td class="thead__td-color thead__td-color_dark">Телефон</td>
                <td class="thead__td-color thead__td-color_light">Стоимость курса</td>
                <td class="thead__td-color thead__td-color_dark">Подробнее</td>
            </tr>
            {% for contract in contracts %}
            <tr>
                <td>{{ contract.number }}</td>
                <td class="td__color_dark">{{ contract.date }}</td>
                <td>{{ contract.account }}</td>
                <td class="td__color_dark">{{ contract.course }}</td>
                <td>{{ contract.group }}</td>
                <td class="td__color_dark">{{ contract.account.phone }}</td>
                <td>{{ contract.price }} б.р.</td>
                <td class="td__color_dark">
                    <a href="{% url 'manager_school:get_contract_detail' contract_id=contract.id %}">Просмотр</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}