{% extends 'manager/base_manager.html' %}

{% load static %}

{% block title %}
<p class="main-header__page-information">Создание договора</p>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/main-header-manager.css' %}"/>
<link rel="stylesheet" href="{% static 'css/contract-deal.css' %}"/>
{% endblock %}

{% block content %}
<main>
    <div class="form-wrapper">
        <div class="form-container">
            <h3>Договор</h3>
            <form method="post">
                {% csrf_token %}
                <div class="form-content">
                    <div class="input-wrapper">
                        <p>ФИО:</p>
                        {{ contract_form.account }}
                    </div>
                    <div class="input-wrapper">
                        <p>Номер договора:</p>
                        {{ contract_form.number }}
                    </div>
                    <div class="input-wrapper">
                        <p>Дата заключения:</p>
                        {{ contract_form.date }}
                    </div>
                    <div class="input-wrapper">
                        <p>Курс:</p>
                        {{ contract_form.course }}
                    </div>
                    <div class="input-wrapper">
                        <p>Группа:</p>
                        {{ contract_form.group }}
                    </div>
                    <div class="input-wrapper">
                        <p>Стоимость обучения:</p>
                        {{ contract_form.price }}
                        {{ contract_form.lead }}
                    </div>
                    <div class="input-wrapper">
                        <p>Скидка:</p>
                        <input type="text" name="" placeholder="Скидка"/>
                    </div>
                    <div class="input-wrapper">
                        <p>По этапам?</p>
                        <input type="checkbox"/>
                    </div>
                    <input class="submit" style="margin-top: 20px" type="submit" value="Отправить"/>
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}