{% extends 'manager/base_manager.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}

{% block title %}
<p class="main-header__page-information">Создание группы</p>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/main-header-manager.css' %}"/>
<link rel="stylesheet" href="{% static 'css/contract-deal.css' %}"/>
{% endblock %}

{% block content %}
<main>
    <div class="form-wrapper">
        <div class="form-container">
            <h3>Создание группы</h3>
            <form method="post">
                {% csrf_token %}
                <div class="form-content">
                    <div class="input-wrapper">
                        <p>Курс:</p>
                        {{ group_form.course }}
                    </div>
                    <div class="input-wrapper">
                        <p>Куратор:</p>
                        {{ group_form.manager }}
                    </div>
                    <div class="input-wrapper">
                        <p>Преподаватель:</p>
                        {{ group_form.teacher }}
                    </div>
                    <div class="input-wrapper">
                        <p>Название группы:</p>
                        {{ group_form.title }}
                    </div>
                    <input class="submit" style="margin-top: 20px" type="submit" value="Сохранить"/>
                    {{ alert }}
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}