{% extends 'manager/base_manager.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% load tags %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/main-header-manager.css' %}"/>
<link rel="stylesheet" href="{% static 'css/group-list-manager-journal.css' %}"/>
<link rel="stylesheet" href="{% static 'css/students-home-work-manger.css' %}"/>
{% endblock %}

{% block title %}
<p class="main-header__page-information">Группа {{ group.title }}</p>
{% endblock %}

{% block content %}
<main>
    <div class="thead__wrapper-main">
        <table>
            <thead>
            <tr>
                <td class="thead__td-color thead__td-color_light">ФИО</td>
            </tr>
            </thead>
            {% for student in group.students.all %}
            <tr>
                <td class="td__color_dark">{{ student.last_name }} {{ student.first_name }}</td>
            </tr>
            {% endfor %}
        </table>
        <div class="thead__wrapper">
            {% for class in classes %}
            <table>
                <thead>
                <tr>
                    <td class="thead__td-color thead__td-color_light"><a class="link__color-light"
                                                                         href="{% url 'manager_school:get_class_detail' class_id=class.id %}">
                        {{ class.date|date:"d.m.Y" }}</a></td>
                </tr>
                </thead>
                {% for student in group.students.all %}
                <tr>
                    {% get_student_attendance student class as attendance %}
                    {% if attendance %}
                    {% if not attendance.attendance %}
                    <td class="td__color_dark rating" style="background: bisque;">
                        н
                    </td>
                    {% else %}
                    {% if attendance.rating %}
                    <td class="td__color_dark rating" style="background: palegreen;">
                        {{ attendance.rating }}
                    </td>
                    {% endif %}
                    {% endif %}
                    {% else %}
                    <td class="td__color_dark rating" style="background: floralwhite;"></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}


{% block scripts %}
<script src="{% static 'js/main-header-manager.js' %}"></script>
{% endblock %}
