{% extends 'manager/base_manager.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% load tags%}

{% block style %}
<link rel="stylesheet" href="{% static 'css/main-header-manager.css' %}"/>
<link rel="stylesheet" href="{% static 'css/group-list-manager.css' %}"/>
<link rel="stylesheet" href="{% static 'css/students-home-work-manger.css' %}"/>
<link rel="stylesheet" href="{% static 'css/all-groups.css' %}"/>
{% endblock %}

{% block title %}
<p class="main-header__page-information">Группы</p>
<form class="main-header__form-change-course" action="{% url 'manager_school:add_group' %}" method="get">
    <div class="add-group__container">
        <div>
            <button type="submit" class="students-home-work__but-filter">Добавить группу</button>
        </div>
    </div>
</form>
<form method="get" class="main-header__form-change-course">
    <div class="main-header__change-speciality">
        <div class="main-header__box-for-change-speciality">
            <p class="main-header__button-change-speciality m-0">
                {% if selected_course %}
                {{ selected_course.title }}
                {% else %}
                Курс...
                {% endif %}
            </p>
            <div class="main-header__list-speciality no-active">
                <input type="text" name="course" hidden class="main-header__change-course"/>
                <p class="main-header__wrapp-for-speciality-link m-0" data-value="">
                    Все
                </p>
                {% for course in all_courses %}
                <p class="main-header__wrapp-for-speciality-link m-0" data-value="{{ course.id }}">
                    {{ course.title }}
                </p>
                {% endfor %}
            </div>
        </div>
        <div>
            <button class="students-home-work__but-filter">Фильтровать</button>
        </div>
    </div>
</form>
{% endblock %}

{% block content %}
<main>
    <div class="all-groups__container">
        {% for course in courses%}
        <div class="all-groups__course">
            <h2 class="all-groups__course-name">
                {{ course.title }}
            </h2>
            <div class="slider">
                <div class="slider__wrapper">
                    {% for group in course.groups.all %}
                    <div class="slider__item">
                        <div class="slider__item-content-box">
                            <a href="{% url 'manager_school:get_group_detail' slug=group.slug %}">
                                <p class="slider__group-name">{{ group.title }}</p>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <img src="{% static 'images/left_arrow.svg' %}" alt="left" class="slider__control slider__control_left"/>
                <img src="{% static 'images/arrow_right.svg' %}" alt="right"
                     class="slider__control slider__control_right slider__control_show"/>
            </div>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/main-header-manager.js' %}"></script>
{% endblock %}


