{% extends 'manager/base_manager.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}

{% block title %}
<p class="main-header__page-information">Создание расписания группы</p>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/main-header-manager.css' %}"/>
<link rel="stylesheet" href="{% static 'css/contract-deal.css' %}"/>
{% endblock %}

{% block content %}
<main>
    <div class="form-wrapper">
        <div class="form-container">
            <h3>Расписание группы</h3>
            <form method="post">
                {% csrf_token %}
                <div class="form-content">
                    <div class="input-wrapper">
                        <p>Дата начала и окончания курсов</p>
                        <p>{{ course.start_date|date:"d.m.Y" }} - {{ course.finish_date|date:"d.m.Y" }}</p>
                    </div>
                    <div class="input-wrapper">
                        <p>Выберите дни</p>
                    </div>
                    <div class="input-wrapper">
                        <p>Понедельник:</p>
                        <p><input name="classes_days" type="checkbox"
                                      value="0"></p>
                    </div>
                    <div class="input-wrapper">
                        <p>Вторник:</p>
                        <p><input name="classes_days" type="checkbox"
                                      value="1"></p>
                    </div>
                    <div class="input-wrapper">
                        <p>Среда:</p>
                        <p><input name="classes_days" type="checkbox"
                                      value="2"></p>
                    </div>
                    <div class="input-wrapper">
                        <p>Четверг:</p>
                        <p><input name="classes_days" type="checkbox"
                                      value="3"></p>
                    </div>
                    <div class="input-wrapper">
                        <p>Пятница:</p>
                        <p><input name="classes_days" type="checkbox"
                                      value="4"></p>
                    </div>
                    <div class="input-wrapper">
                        <p>Суббота:</p>
                        <p><input name="classes_days" type="checkbox"
                                      value="5"></p>
                    </div>
                    <div class="input-wrapper">
                        <p>Воскресенье:</p>
                        <p><input name="classes_days" type="checkbox"
                                      value="6"></p>
                    </div>
                    <div class="input-wrapper">
                        <p>Выберите время</p>
                    </div>
                    <div class="input-wrapper">
                        <p>Начало:</p>
                        <p><input name="start_time" type="time" value="19:00"></p>
                    </div>
                    <div class="input-wrapper">
                        <p>Окончание:</p>
                        <p><input name="end_time" type="time" value="22:00"></p>
                    </div>
                    <div class="input-wrapper">
                        <p>Выберите аудиторию</p>
                    </div>
                    <div class="input-wrapper">
                        <p>Аудитория:</p>
                        <p>
                            <select name="class_room">
                                {% for class_room in class_rooms %}
                                <option selected>{{ class_room.title }}</option>
                                {% endfor %}
                            </select>
                        </p>
                    </div>

                    <input class="submit" style="margin-top: 20px" type="submit" value="Сохранить"/>
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}