{% extends 'manager/base_manager.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% load tags %}

{% block title %}
<p class="main-header__page-information">Расписание группы</p>
<form method="get">
    <div class="main-header__change-speciality" style="">
        <div class="main-header__box-for-change-speciality">
            <select name="year" class="main-header__button-change-speciality" id="year-select"></select>
        </div>
        <div class="main-header__box-for-change-speciality">
            <select name="month" class="main-header__button-change-speciality" id="month-select"></select>
        </div>
        <div class="main-header__box-for-change-speciality">
            <button class="main-header__button-change-speciality">Поиск</button>
        </div>
    </div>
</form>
<div class="main-header__list-speciality"></div>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/main-header-manager.css' %}"/>
<link rel="stylesheet" href="{% static 'css/group-list-manager-journal.css' %}"/>
<link rel="stylesheet" href="{% static 'css/students-home-work-manger.css' %}"/>
<link rel="stylesheet" href="{% static 'css/contract-deal.css' %}"/>
{% endblock %}

{% block content %}
<main>
    <div class="form-wrapper" style="align-items: start; flex-direction: row; flex-wrap: nowrap;">
        <div class="form-container"
             style="width: 540px; margin-top: 10px; margin-bottom: 0px; margin-right: 20px; margin-left: 20px;">
            <h3>Расписание группы</h3>
            <form method="post">
                {% csrf_token %}
                <div class="form-content" style="width: 500px;">
                    <div class="input-wrapper">
                        <p>Дата начала и окончания курсов</p>
                        <p>{{ course.start_date|date:"d.m.Y" }} - {{ course.finish_date|date:"d.m.Y" }}</p>
                    </div>
                    <div class="input-wrapper">
                        <p>Выберите дни</p>
                    </div>
                    <div class="input-wrapper">
                        <p>Понедельник:</p>
                        <p><input name="classes_days" type="checkbox" value="0"></p>
                        <p>
                            <select name="class_room_0">
                                <option>--</option>
                                {% for interval in time_intervals|get_item:0 %}
                                    <option>{{ interval.room }}|{{ interval.time_from }}|{{ interval.time_to }}</option>
                                {% endfor %}
                            </select>
                        </p>
                    </div>
                    <div class="input-wrapper">
                        <p>Вторник:</p>
                        <p><input name="classes_days" type="checkbox" value="1"></p>
                        <p>
                            <select name="class_room_1">
                                <option>--</option>
                                {% for interval in time_intervals|get_item:1 %}
                                <option>{{ interval.room }}|{{ interval.time_from }}|{{ interval.time_to }}</option>
                                {% endfor %}
                            </select>
                        </p>
                    </div>
                    <div class="input-wrapper">
                        <p>Среда:</p>
                        <p><input name="classes_days" type="checkbox" value="2"></p>
                        <p>
                            <select name="class_room_2">
                                <option>--</option>
                                {% for interval in time_intervals|get_item:2 %}
                                <option>{{ interval.room }}|{{ interval.time_from }}|{{ interval.time_to }}</option>
                                {% endfor %}
                            </select>
                        </p>
                    </div>
                    <div class="input-wrapper">
                        <p>Четверг:</p>
                        <p><input name="classes_days" type="checkbox" value="3"></p>
                        <p>
                            <select name="class_room_3">
                                <option>--</option>
                                {% for interval in time_intervals|get_item:3 %}
                                <option>{{ interval.room }}|{{ interval.time_from }}|{{ interval.time_to }}</option>
                                {% endfor %}
                            </select>
                        </p>
                    </div>
                    <div class="input-wrapper">
                        <p>Пятница:</p>
                        <p><input name="classes_days" type="checkbox" value="4"></p>
                        <p>
                            <select name="class_room_4">
                                <option>--</option>
                                {% for interval in time_intervals|get_item:4 %}
                                <option>{{ interval.room }}|{{ interval.time_from }}|{{ interval.time_to }}</option>
                                {% endfor %}
                            </select>
                        </p>
                    </div>
                    <div class="input-wrapper">
                        <p>Суббота:</p>
                        <p><input name="classes_days" type="checkbox" value="5"></p>
                        <p>
                            <select name="class_room_5">
                                <option>--</option>
                                {% for interval in time_intervals|get_item:5 %}
                                <option>{{ interval.room }}|{{ interval.time_from }}|{{ interval.time_to }}</option>
                                {% endfor %}
                            </select>
                        </p>
                    </div>
                    <div class="input-wrapper">
                        <p>Воскресенье:</p>
                        <p><input name="classes_days" type="checkbox" value="6"></p>
                        <p>
                            <select name="class_room_6">
                                <option>--</option>
                                {% for interval in time_intervals|get_item:6 %}
                                <option>{{ interval.room }}|{{ interval.time_from }}|{{ interval.time_to }}</option>
                                {% endfor %}
                            </select>
                        </p>
                    </div>
{#                    <div class="input-wrapper">#}
{#                        <p>Выберите время</p>#}
{#                    </div>#}
{#                    <div class="input-wrapper">#}
{#                        <p>Начало:</p>#}
{#                        <p><input name="start_time" type="time" value="19:00"></p>#}
{#                    </div>#}
{#                    <div class="input-wrapper">#}
{#                        <p>Окончание:</p>#}
{#                        <p><input name="end_time" type="time" value="22:00"></p>#}
{#                    </div>#}
{#                    <div class="input-wrapper">#}
{#                        <p>Выберите аудиторию</p>#}
{#                    </div>#}
{#                    <div class="input-wrapper">#}
{#                        <p>Аудитория:</p>#}
{#                        <p>#}
{#                            <select name="class_room">#}
{#                                {% for interval in time_intervals %}#}
{#                                <option selected>{{ interval.room }}|{{ interval.time_from }}-{{ interval.time_to }}</option>#}
{#                                {% endfor %}#}
{#                            </select>#}
{#                        </p>#}
{#                    </div>#}

                    <input class="submit" style="margin-top: 20px" type="submit" value="Сохранить"/>
                {{ alert }}
                </div>
            </form>
        </div>
        <div class="thead__wrapper-main" style="margin-top: 10px; margin-left: 0px; max-width: 59%;">
            <table>
                <thead>
                <tr>
                    <td class="thead__td-color thead__td-color_light"
                        style="background: linear-gradient(180deg, #2f4aa7 0%, #6481e4 100%)">Аудитории</td>
                </tr>
                </thead>
                {% for room in rooms %}
                <tr>
                    <td style="padding: 0px;">
                        <div class="td__color_dark" style="min-height: 150px; padding: 25px;">
                            <div>{{ room.title }}</div>
                            <div style="font-size: 14px;">Мест: {{ room.max_places_count }}</div>
                        </div>
                    </td>
                </tr>
                {% for interval in room.time_intervals.all %}
                {% if forloop.first %}
                {% else %}
                <tr>
                    <td style="padding: 0px;">
                        <div class="td__color_dark" style="min-height: 150px; padding: 25px;"></div>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
                {% endfor %}
            </table>
            <div class="thead__wrapper">
                {% for date in date_set %}
                <table>
                    <thead>
                    <tr>
                        <td class="thead__td-color thead__td-color_light"
                            style="min-width: 160px; background: linear-gradient(180deg, #2f4aa7 0%, #6481e4 100%)">
                            {{ date|date:'D d.m.Y' }}
                        </td>
                    </tr>
                    {% for room in rooms %}
                    {% for interval in room.time_intervals.all %}
                    {% get_room_at_current_day room date interval as classes %}
                    <tr>
                        <td class="td__color_dark" style="padding: 0px;">
                            <div class="link__color-light"
                                 style="min-height: 150px;font-size: 14px;color: black!important;{% if classes %}background: white;{% endif %}">
                                <div style="border-bottom: 1px solid #CED6F2">{{ interval.time_from }} - {{ interval.time_to }}
                                </div>
                                <div style="{% if is_current_date %}border:10px solid black;{% endif %}">
                                    {% for class in classes %}
                                    <a href="{% url 'manager_school:get_group_detail' slug=class.groups.slug %}">
                                        {{ class.groups.title|truncatechars:10 }} {{ class.theme|truncatechars:10 }}
                                    </a><br>
                                    Занятие № {{ class.position }}<br>
                                    Время: {{ class.start_time }} - {{ class.end_time }}
                                    Места: {{ class.groups.students.count }} из {{ room.max_places_count }}
                                    {% endfor %}
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    {% endfor %}
                    </thead>
                </table>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block scripts %}
<script>
    var date = new Date();
    var currentMonth = {% if current_month %}{{ current_month }}{% else %}date.getMonth() + 1{% endif %};
    var currentYear = {% if current_month %}{{ current_year }}{% else %}date.getFullYear(){% endif %};

    var months = {
        1: 'Январь',
        2: 'Февраль',
        3: 'Март',
        4: 'Апрель',
        5: 'Май',
        6: 'Июнь',
        7: 'Июль',
        8: 'Август',
        9: 'Сентябрь',
        10: 'Октябрь',
        11: 'Ноябрь',
        12: 'Декабрь',
    };

    const yearSelect = document.getElementById('year-select');
    let yearInner = '';

    for (let i = currentYear + 1; i >= 2000; i--) {
        if (i === currentYear){
            yearInner += `<option selected>${i}</option>`;
        }
        else{
            yearInner += `<option>${i}</option>`;
        }
    }
    yearSelect.innerHTML = yearInner;

    const monthSelect = document.getElementById('month-select');
    let monthInner = '';

    for (key in months) {
        if (Number.parseInt(key) === currentMonth){
            monthInner += `<option selected value="${key}">${months[key]}</option>`;
        }
        else{
            monthInner += `<option value="${key}">${months[key]}</option>`;
        }
    };
    monthSelect.innerHTML = monthInner;
</script>
    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}
