{% extends "admin/main_page/main_page_admin.html"%}
{% block title %} Вкладка преподователя{% endblock %}

{% block content %}
{% for teacher in teachers %}
    <table>
    <tr>
    <td>{{ teacher.first_name }}</td>
        <td>{{ teacher.last_name }}</td>
        <td>{{ teacher.surname }}</td>
        <td>{{ teacher.phone }}</td>
        <td>{{ teacher.email }}</td>
        <td>{{ teacher.img_user }}фото</td>
        <td>  Группы:
            {% for groups_teacher in teacher.groups_teacher.all %}
        <td>{{ groups_teacher }}</td>
        {% endfor %}
        </td>
    </tr>
    </table>
    {% endfor %}
{% endblock %}